.sidebarnavigation-affiliates-sidebarnavigation-affiliates {
  width: 280px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-affiliates-content {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.sidebarnavigation-affiliates-nav {
  gap: 24px;
  display: flex;
  padding: 32px 0 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-affiliates-header {
  display: flex;
  padding: 0 20px 0 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-affiliates-logo {
  display: flex;
  align-items: flex-start;
}
.sidebarnavigation-affiliates-logowrap {
  width: 142px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sidebarnavigation-affiliates-logomark {
  top: 0px;
  left: 0px;
  width: 32px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
}
.sidebarnavigation-affiliates-frame1 {
  width: 32px;
  height: 32px;
}
.sidebarnavigation-affiliates-logotype {
  top: 0px;
  left: 42px;
  width: 100px;
  height: 32px;
  position: absolute;
}
.sidebarnavigation-affiliates-search {
  display: none;
  padding: 0 24px;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-affiliates-inputdropdown {
  gap: 8px;
  width: 231px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sidebarnavigation-affiliates-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-affiliates-input {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-affiliates-content1 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-affiliates-searchlg {
  width: 20px;
  height: 20px;
}
.sidebarnavigation-affiliates-text {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-affiliates-navigation {
  gap: 4px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-affiliates-navlink {
  display: contents;
}
.sidebarnavigation-affiliates-frame-navitembase {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-affiliates-content2 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-affiliates-homeline {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-affiliates-text02 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-affiliates-navlink1 {
  display: contents;
}
.sidebarnavigation-affiliates-frame-navitembase1 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.sidebarnavigation-affiliates-content3 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-affiliates-package {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-affiliates-text04 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-affiliates-navlink2 {
  display: contents;
}
.sidebarnavigation-affiliates-frame-navitembase2 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.sidebarnavigation-affiliates-content4 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-affiliates-plane {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-affiliates-text06 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-affiliates-navlink3 {
  display: contents;
}
.sidebarnavigation-affiliates-frame-navitembase3 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-affiliates-content5 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-affiliates-banknote01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-affiliates-text08 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-affiliates-navlink4 {
  display: contents;
}
.sidebarnavigation-affiliates-frame-navitembase4 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-50);
}
.sidebarnavigation-affiliates-content6 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-affiliates-users01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-affiliates-text10 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-affiliates-footer {
  gap: 24px;
  display: flex;
  padding: 0 16px 32px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-affiliates-navigation1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-affiliates-navlink5 {
  display: contents;
}
.sidebarnavigation-affiliates-frame-navitembase5 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-affiliates-content7 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-affiliates-settings01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-affiliates-text12 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-affiliates-navlink6 {
  display: contents;
}
.sidebarnavigation-affiliates-account {
  gap: 47px;
  display: flex;
  padding: 24px 32px 0 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  text-decoration: none;
}
.sidebarnavigation-affiliates-avatarlabelgroup {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-affiliates-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 200px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/fc1cfe10-08e5-475a-8902-81b277486d6f-w84b-200h.undefined");
}
.sidebarnavigation-affiliates-textandsupportingtext {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-affiliates-text14 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.sidebarnavigation-affiliates-text16 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.sidebarnavigation-affiliates-button {
  gap: 8px;
  display: flex;
  padding: 8px;
  z-index: 1;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.sidebarnavigation-affiliates-logout01 {
  width: 20px;
  height: 20px;
}

.affiliates-empty-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.affiliates-empty-contents {
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  background-color: var(--dl-color-base-white);
}
.affiliates-empty-main {
  gap: 24px;
  width: auto;
  height: auto;
  display: flex;
  padding: 32px 0 48px 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-gray-25);
}
.affiliates-empty-headersection {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.affiliates-empty-container1 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.affiliates-empty-breadcrumbs {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.affiliates-empty-tabs {
  gap: 8px;
  display: flex;
  align-items: center;
}
.affiliates-empty-frame-breadcrumbbuttonbase {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: 6px;
  text-decoration: none;
}
.affiliates-empty-homeline {
  width: 20px;
  height: 20px;
}
.affiliates-empty-chevronright {
  width: 16px;
  height: 16px;
}
.affiliates-empty-frame-breadcrumbbuttonbase1 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  text-decoration: none;
}
.affiliates-empty-text {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.affiliates-empty-actions {
  gap: 12px;
  display: flex;
  align-items: center;
}
.affiliates-empty-dropdown {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.affiliates-empty-download01 {
  width: 20px;
  height: 20px;
}
.affiliates-empty-button {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.affiliates-empty-searchrefraction {
  width: 20px;
  height: 20px;
}
.affiliates-empty-button1 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.affiliates-empty-bell01 {
  width: 20px;
  height: 20px;
}
.affiliates-empty-dropdown1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.affiliates-empty-button2 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 24px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-600);
}
.affiliates-empty-plus {
  width: 20px;
  height: 20px;
}
.affiliates-empty-pageheader {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.affiliates-empty-content {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.affiliates-empty-textandsupportingtext {
  gap: 4px;
  width: 1096px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.affiliates-empty-text01 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 38px;
}
.affiliates-empty-text02 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.affiliates-empty-divider {
  width: 1096px;
  height: 1px;
  align-self: stretch;
}
.affiliates-empty-section {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.affiliates-empty-container2 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.affiliates-empty-content1 {
  display: flex;
  padding: 40px 32px 48px 32px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.affiliates-empty-component5 {
  width: 120px;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.affiliates-empty-ellipse4 {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
}
.affiliates-empty-component3 {
  top: 31px;
  left: 22px;
  width: 75px;
  height: 57.78692626953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.affiliates-empty-group {
  top: 0px;
  left: 0px;
  width: 75px;
  height: 57.78692626953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.affiliates-empty-vector {
  top: 21.516525268554688px;
  left: 2.458895683288574px;
  width: 2px;
  height: 6px;
  position: absolute;
}
.affiliates-empty-vector01 {
  top: 19.549217224121094px;
  left: -2.8421709430404007e-13px;
  width: 75px;
  height: 38px;
  opacity: 0.30;
  position: absolute;
}
.affiliates-empty-group01 {
  top: 46.191001892089844px;
  left: 46.9670295715332px;
  width: 8.72977066040039px;
  height: 8.56509017944336px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.affiliates-empty-vector02 {
  top: 0.00005340576171875px;
  left: 0.12323379516601562px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.affiliates-empty-vector03 {
  top: 3.3585052490234375px;
  left: 5.9017791748046875px;
  width: 3px;
  height: 5px;
  opacity: 0.39;
  position: absolute;
}
.affiliates-empty-vector04 {
  top: 1.667083740234375px;
  left: 0.9838294982910156px;
  width: 5px;
  height: 6px;
  position: absolute;
}
.affiliates-empty-vector05 {
  top: 1.7602081298828125px;
  left: 0.8606147766113281px;
  width: 4px;
  height: 6px;
  position: absolute;
}
.affiliates-empty-vector06 {
  top: 3.3081436157226562px;
  left: 2.5821304321289062px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.affiliates-empty-vector07 {
  top: 3.3081436157226562px;
  left: 2.5821304321289062px;
  width: 2px;
  height: 2px;
  opacity: 0.39;
  position: absolute;
}
.affiliates-empty-vector08 {
  top: 3.431041717529297px;
  left: 2.3361740112304688px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.affiliates-empty-vector09 {
  top: 0.8568496704101562px;
  left: 0.000019073486328125px;
  width: 7px;
  height: 8px;
  opacity: 0.06;
  position: absolute;
}
.affiliates-empty-group02 {
  top: 23.691299438476562px;
  left: 2.09004545211792px;
  width: 8.61320686340332px;
  height: 8.564750671386719px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.affiliates-empty-vector10 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.affiliates-empty-vector11 {
  top: 3.2352848052978516px;
  left: 5.901575565338135px;
  width: 3px;
  height: 5px;
  opacity: 0.39;
  position: absolute;
}
.affiliates-empty-vector12 {
  top: 1.6667594909667969px;
  left: 0.8607289791107178px;
  width: 5px;
  height: 6px;
  position: absolute;
}
.affiliates-empty-vector13 {
  top: 1.7598838806152344px;
  left: 0.8607289791107178px;
  width: 4px;
  height: 6px;
  position: absolute;
}
.affiliates-empty-vector14 {
  top: 3.4541549682617188px;
  left: 2.5819244384765625px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.affiliates-empty-vector15 {
  top: 3.4541549682617188px;
  left: 2.5819244384765625px;
  width: 2px;
  height: 2px;
  opacity: 0.39;
  position: absolute;
}
.affiliates-empty-vector16 {
  top: 3.430715560913086px;
  left: 2.336129665374756px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.affiliates-empty-vector17 {
  top: 0.8565254211425781px;
  left: 0.12302851676940918px;
  width: 7px;
  height: 8px;
  opacity: 0.06;
  position: absolute;
}
.affiliates-empty-vector18 {
  top: 0px;
  left: 0px;
  width: 27px;
  height: 29px;
  position: absolute;
}
.affiliates-empty-vector19 {
  top: 3.6888184547424316px;
  left: 9.835899353027344px;
  width: 17px;
  height: 26px;
  opacity: 0.39;
  position: absolute;
}
.affiliates-empty-vector20 {
  top: 47.70504379272461px;
  left: 53.48343276977539px;
  width: 3px;
  height: 6px;
  position: absolute;
}
.affiliates-empty-vector21 {
  top: 47.70504379272461px;
  left: 53.48343276977539px;
  width: 3px;
  height: 6px;
  opacity: 0.06;
  position: absolute;
}
.affiliates-empty-vector22 {
  top: 0.0003167455433867872px;
  left: 11.065505981445312px;
  width: 64px;
  height: 51px;
  position: absolute;
}
.affiliates-empty-vector23 {
  top: 40.69673538208008px;
  left: 57.7867431640625px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.affiliates-empty-vector24 {
  top: 25.8198299407959px;
  left: 11.065505981445312px;
  width: 47px;
  height: 26px;
  position: absolute;
}
.affiliates-empty-vector25 {
  top: 18.197031021118164px;
  left: 6.762200355529785px;
  width: 1px;
  height: 1px;
  opacity: 0.50;
  position: absolute;
}
.affiliates-empty-vector26 {
  top: 18.81183433532715px;
  left: 6.762200355529785px;
  width: 1px;
  height: 1px;
  opacity: 0.50;
  position: absolute;
}
.affiliates-empty-vector27 {
  top: 9.541959762573242px;
  left: 0.7375419735908508px;
  width: 7px;
  height: 8px;
  position: absolute;
}
.affiliates-empty-vector28 {
  top: 9.541959762573242px;
  left: 0.7375419735908508px;
  width: 7px;
  height: 8px;
  opacity: 0.15;
  position: absolute;
}
.affiliates-empty-vector29 {
  top: 23.360933303833008px;
  left: -2.8421709430404007e-13px;
  width: 2px;
  height: 4px;
  position: absolute;
}
.affiliates-empty-vector30 {
  top: 20.902036666870117px;
  left: -2.8421709430404007e-13px;
  width: 1px;
  height: 3px;
  position: absolute;
}
.affiliates-empty-vector31 {
  top: 41.55765151977539px;
  left: 73.15554809570312px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.affiliates-empty-vector32 {
  top: 42.54114532470703px;
  left: 71.31146240234375px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.affiliates-empty-vector33 {
  top: 48.07405471801758px;
  left: 60.24579620361328px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.affiliates-empty-vector34 {
  top: 48.93465042114258px;
  left: 58.40154266357422px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.affiliates-empty-vector35 {
  top: 25.45113754272461px;
  left: 59.0163459777832px;
  width: 15px;
  height: 23px;
  opacity: 0.15;
  position: absolute;
}
.affiliates-empty-vector36 {
  top: 43.40205764770508px;
  left: 63.31964874267578px;
  width: 6px;
  height: 5px;
  position: absolute;
}
.affiliates-empty-vector37 {
  top: 39.467445373535156px;
  left: 72.90975952148438px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.affiliates-empty-vector38 {
  top: 46.47543716430664px;
  left: 58.77039337158203px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.affiliates-empty-vector39 {
  top: 41.55765151977539px;
  left: 64.5490951538086px;
  width: 1px;
  height: 2px;
  opacity: 0.50;
  position: absolute;
}
.affiliates-empty-vector40 {
  top: 42.54114532470703px;
  left: 64.5490951538086px;
  width: 1px;
  height: 1px;
  opacity: 0.30;
  position: absolute;
}
.affiliates-empty-vector41 {
  top: 26.557531356811523px;
  left: 72.90975952148438px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.affiliates-empty-vector42 {
  top: 33.56584167480469px;
  left: 58.77039337158203px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.affiliates-empty-vector43 {
  top: 8.606926918029785px;
  left: -2.8421709430404007e-13px;
  width: 10px;
  height: 20px;
  opacity: 0.06;
  position: absolute;
}
.affiliates-empty-vector44 {
  top: 8.606926918029785px;
  left: 11.065505981445312px;
  width: 47px;
  height: 43px;
  opacity: 0.06;
  position: absolute;
}
.affiliates-empty-group03 {
  top: 10.573598861694336px;
  left: 12.294952392578125px;
  width: 44.2623291015625px;
  height: 38.11509704589844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.affiliates-empty-vector45 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  opacity: 0.39;
  position: absolute;
}
.affiliates-empty-vector46 {
  top: 7.992145538330078px;
  left: 0.0000324249267578125px;
  width: 44px;
  height: 30px;
  position: absolute;
}
.affiliates-empty-vector47 {
  top: 23.48383140563965px;
  left: 57.7867431640625px;
  width: 17px;
  height: 28px;
  opacity: 0.39;
  position: absolute;
}
.affiliates-empty-group04 {
  top: 11.311933517456055px;
  left: 13.278607368469238px;
  width: 43.278594970703125px;
  height: 28.03285026550293px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.affiliates-empty-group05 {
  top: 3.933962821960449px;
  left: 0.000026702880859375px;
  width: 16.47528839111328px;
  height: 15.492180824279785px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.affiliates-empty-vector48 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 15px;
  position: absolute;
}
.affiliates-empty-vector49 {
  top: 4.057768821716309px;
  left: 8.11457347869873px;
  width: 8px;
  height: 11px;
  opacity: 0.29;
  position: absolute;
}
.affiliates-empty-vector50 {
  top: 1.4756593704223633px;
  left: 2.95082950592041px;
  width: 10px;
  height: 9px;
  opacity: 0.30;
  position: absolute;
}
.affiliates-empty-vector51 {
  top: 4.057768821716309px;
  left: 0.000026702880859375px;
  width: 8px;
  height: 11px;
  opacity: 0.11;
  position: absolute;
}
.affiliates-empty-group06 {
  top: 8.237585067749023px;
  left: 8.606478691101074px;
  width: 16.47528839111328px;
  height: 15.49188232421875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.affiliates-empty-vector52 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 15px;
  position: absolute;
}
.affiliates-empty-vector53 {
  top: 4.057167053222656px;
  left: 8.114690780639648px;
  width: 8px;
  height: 11px;
  opacity: 0.29;
  position: absolute;
}
.affiliates-empty-vector54 {
  top: 1.4753742218017578px;
  left: 2.9507884979248047px;
  width: 10px;
  height: 9px;
  opacity: 0.30;
  position: absolute;
}
.affiliates-empty-vector55 {
  top: 4.057167053222656px;
  left: -0.0000133514404296875px;
  width: 8px;
  height: 11px;
  opacity: 0.11;
  position: absolute;
}
.affiliates-empty-group07 {
  top: 0px;
  left: 0px;
  width: 15.8605375289917px;
  height: 11.557361602783203px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.affiliates-empty-vector56 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 12px;
  position: absolute;
}
.affiliates-empty-vector57 {
  top: 4.05717658996582px;
  left: 8.11457347869873px;
  width: 8px;
  height: 7px;
  opacity: 0.29;
  position: absolute;
}
.affiliates-empty-vector58 {
  top: 1.475067138671875px;
  left: 2.9508275985717773px;
  width: 3px;
  height: 5px;
  opacity: 0.30;
  position: absolute;
}
.affiliates-empty-vector59 {
  top: 0.12288093566894531px;
  left: 0.000026702880859375px;
  width: 8px;
  height: 11px;
  opacity: 0.11;
  position: absolute;
}
.affiliates-empty-group08 {
  top: 4.302970886230469px;
  left: 8.606478691101074px;
  width: 15.737613677978516px;
  height: 11.557361602783203px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.affiliates-empty-vector60 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 12px;
  position: absolute;
}
.affiliates-empty-vector61 {
  top: 4.057502746582031px;
  left: 8.114690780639648px;
  width: 8px;
  height: 7px;
  opacity: 0.29;
  position: absolute;
}
.affiliates-empty-vector62 {
  top: 1.475393295288086px;
  left: 2.9507884979248047px;
  width: 3px;
  height: 5px;
  opacity: 0.30;
  position: absolute;
}
.affiliates-empty-vector63 {
  top: 0.12289047241210938px;
  left: -0.0000133514404296875px;
  width: 8px;
  height: 11px;
  opacity: 0.11;
  position: absolute;
}
.affiliates-empty-group09 {
  top: 12.540889739990234px;
  left: 17.213088989257812px;
  width: 16.47528839111328px;
  height: 15.491880416870117px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.affiliates-empty-vector64 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 15px;
  position: absolute;
}
.affiliates-empty-vector65 {
  top: 4.057188034057617px;
  left: 8.114733695983887px;
  width: 8px;
  height: 11px;
  opacity: 0.29;
  position: absolute;
}
.affiliates-empty-vector66 {
  top: 1.4750785827636719px;
  left: 2.9506711959838867px;
  width: 10px;
  height: 9px;
  opacity: 0.30;
  position: absolute;
}
.affiliates-empty-vector67 {
  top: 4.057188034057617px;
  left: 0.00002956390380859375px;
  width: 8px;
  height: 11px;
  opacity: 0.11;
  position: absolute;
}
.affiliates-empty-group10 {
  top: 17.089988708496094px;
  left: 34.426307678222656px;
  width: 8.852401733398438px;
  height: 10.942667007446289px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.affiliates-empty-vector68 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 11px;
  position: absolute;
}
.affiliates-empty-vector69 {
  top: 4.057188034057617px;
  left: 8.114508628845215px;
  width: 1px;
  height: 7px;
  opacity: 0.29;
  position: absolute;
}
.affiliates-empty-vector70 {
  top: 1.4757099151611328px;
  left: 2.950606346130371px;
  width: 2px;
  height: 4px;
  opacity: 0.30;
  position: absolute;
}
.affiliates-empty-vector71 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 11px;
  opacity: 0.11;
  position: absolute;
}
.affiliates-empty-emptystate {
  width: 512px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.affiliates-empty-emptystate1 {
  gap: 24px;
  width: 352px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.affiliates-empty-content2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.affiliates-empty-textandsupportingtext1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.affiliates-empty-text03 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 24px;
}
.affiliates-empty-text06 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 20px;
}
.affiliates-empty-actions1 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
}
.affiliates-empty-button3 {
  gap: 8px;
  display: flex;
  padding: 10px 18px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-600);
}
.affiliates-empty-packageplus {
  width: 20px;
  height: 20px;
}
.affiliates-empty-text07 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
