.archive-typography-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.archive-typography-content {
  gap: 64px;
  width: 2240px;
  height: auto;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.archive-typography-typeface {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.archive-typography-text {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.archive-typography-text001 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.archive-typography-text003 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 112px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.archive-typography-text005 {
  color: var(--dl-color-gray-9001);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 60px;
}
.archive-typography-frame-typescalebase {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.archive-typography-header {
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  justify-content: space-between;
}
.archive-typography-text007 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-text009 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-row {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.archive-typography-text011 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 90px;
}
.archive-typography-text016 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 90px;
}
.archive-typography-text021 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 90px;
}
.archive-typography-text026 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 90px;
}
.archive-typography-frame-typescalebase01 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.archive-typography-header01 {
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  justify-content: space-between;
}
.archive-typography-text031 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-text033 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-row01 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.archive-typography-text035 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 72px;
}
.archive-typography-text040 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 72px;
}
.archive-typography-text045 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 72px;
}
.archive-typography-text050 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 72px;
}
.archive-typography-frame-typescalebase02 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.archive-typography-header02 {
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  justify-content: space-between;
}
.archive-typography-text055 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-text057 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-row02 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.archive-typography-text059 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 60px;
}
.archive-typography-text064 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 60px;
}
.archive-typography-text069 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 60px;
}
.archive-typography-text074 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 60px;
}
.archive-typography-frame-typescalebase03 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.archive-typography-header03 {
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  justify-content: space-between;
}
.archive-typography-text079 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-text081 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-row03 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.archive-typography-text083 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 44px;
}
.archive-typography-text088 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 44px;
}
.archive-typography-text093 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 44px;
}
.archive-typography-text098 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 44px;
}
.archive-typography-frame-typescalebase04 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.archive-typography-header04 {
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  justify-content: space-between;
}
.archive-typography-text103 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-text105 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-row04 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.archive-typography-text107 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 38px;
}
.archive-typography-text112 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 38px;
}
.archive-typography-text117 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 38px;
}
.archive-typography-text122 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 38px;
}
.archive-typography-frame-typescalebase05 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.archive-typography-header05 {
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  justify-content: space-between;
}
.archive-typography-text127 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-text129 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-row05 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.archive-typography-text131 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 32px;
}
.archive-typography-text136 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 32px;
}
.archive-typography-text141 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 32px;
}
.archive-typography-text146 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 32px;
}
.archive-typography-frame-typescalebase06 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.archive-typography-header06 {
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  justify-content: space-between;
}
.archive-typography-text151 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-text153 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-row06 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.archive-typography-text155 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 30px;
}
.archive-typography-text160 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 30px;
}
.archive-typography-text165 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 30px;
}
.archive-typography-text170 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 30px;
}
.archive-typography-frame-typescalebase07 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.archive-typography-header07 {
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  justify-content: space-between;
}
.archive-typography-text175 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-text177 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-row07 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.archive-typography-text179 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 28px;
}
.archive-typography-text184 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 28px;
}
.archive-typography-text189 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 28px;
}
.archive-typography-text194 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 28px;
}
.archive-typography-frame-typescalebase08 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.archive-typography-header08 {
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  justify-content: space-between;
}
.archive-typography-text199 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-text201 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-row08 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.archive-typography-text203 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.archive-typography-text208 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.archive-typography-text213 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.archive-typography-text218 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.archive-typography-frame-typescalebase09 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.archive-typography-header09 {
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  justify-content: space-between;
}
.archive-typography-text223 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-text225 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-row09 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.archive-typography-text227 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 20px;
}
.archive-typography-text232 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 20px;
}
.archive-typography-text237 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 20px;
}
.archive-typography-text242 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 20px;
}
.archive-typography-frame-typescalebase10 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.archive-typography-header10 {
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  justify-content: space-between;
}
.archive-typography-text247 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-text249 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.archive-typography-row10 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.archive-typography-text251 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 18px;
}
.archive-typography-text256 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 18px;
}
.archive-typography-text261 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 18px;
}
.archive-typography-text266 {
  color: var(--dl-color-gray-9001);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 18px;
}
