.logo-dark-mode-false-logowrap {
  width: 142px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.logo-dark-mode-false-logomark {
  top: 0px;
  left: 0px;
  width: 32px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
}
.logo-dark-mode-false-frame1 {
  width: 32px;
  height: 32px;
}
.logo-dark-mode-false-logotype {
  top: 0px;
  left: 42px;
  width: 100px;
  height: 32px;
  position: absolute;
}

.logo-dark-mode-true-logowrap {
  width: 142px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.logo-dark-mode-true-logomark {
  top: 0px;
  left: 0px;
  width: 32px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
}
.logo-dark-mode-true-frame1 {
  width: 32px;
  height: 32px;
}
.logo-dark-mode-true-logotype {
  top: 0px;
  left: 42px;
  width: 100px;
  height: 32px;
  position: absolute;
}

.archive-logo-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.archive-logo-darkmode-false {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.archive-logo-darkmode-true {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
