.homepage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.homepage-desktop {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.homepage-heroheadersection {
  width: 1440px;
  height: 1018px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepage-maskgroup {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1018px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepage-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1018px;
  position: absolute;
}
.homepage-main-hero-big1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1440px;
  bottom: 0px;
  height: 1022px;
  margin: auto;
  position: absolute;
}
.homepage-container01 {
  gap: 64px;
  top: 189px;
  left: 80px;
  width: 1280px;
  display: flex;
  padding: 0 32px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.homepage-content {
  gap: 48px;
  width: 576px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-headingandsupportingtext {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-headingandsubheading {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-text {
  color: var(--dl-color-gray-200);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.homepage-text002 {
  color: var(--dl-color-base-white);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 72px;
}
.homepage-text004 {
  color: var(--dl-color-gray-200);
  width: 480px;
  height: auto;
  text-align: left;
  line-height: 30px;
}
.homepage-actions {
  gap: 12px;
  display: flex;
  align-items: flex-start;
}
.homepage-button {
  gap: 12px;
  display: flex;
  padding: 16px 28px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.homepage-playcircle {
  width: 24px;
  height: 24px;
}
.homepage-text006 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.homepage-button01 {
  gap: 12px;
  display: flex;
  padding: 16px 28px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-600);
}
.homepage-text008 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.homepage-content01 {
  width: 576px;
  height: 640px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-lightaccent {
  top: 144px;
  left: -544px;
  width: 1280px;
  height: 720px;
  position: absolute;
}
.homepage-dropdownheadernavigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 80px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
}
.homepage-header {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.homepage-container02 {
  width: 1280px;
  display: flex;
  padding: 0 32px;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.homepage-content02 {
  gap: 40px;
  display: flex;
  align-items: center;
}
.homepage-logo {
  display: flex;
  align-items: flex-start;
}
.homepage-logowrap {
  width: 142px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-logomark {
  top: 0px;
  left: 0px;
  width: 32px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
}
.homepage-frame1 {
  width: 32px;
  height: 32px;
}
.homepage-logotype {
  top: 0px;
  left: 42px;
  width: 100px;
  height: 32px;
  position: absolute;
}
.homepage-navigation {
  gap: 32px;
  display: flex;
  align-items: center;
}
.homepage-button02 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.homepage-text010 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-frame-dropdownheadernavigationtrigger {
  display: flex;
  padding: 4px 0;
  align-items: center;
  flex-direction: column;
}
.homepage-button03 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.homepage-text012 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-chevrondown {
  width: 20px;
  height: 20px;
}
.homepage-frame-dropdownheadernavigationtrigger1 {
  display: flex;
  padding: 4px 0;
  align-items: center;
  flex-direction: column;
}
.homepage-button04 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.homepage-text014 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-chevrondown1 {
  width: 20px;
  height: 20px;
}
.homepage-button05 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.homepage-text016 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-frame-navigationactions {
  gap: 12px;
  display: flex;
  align-items: center;
}
.homepage-button06 {
  gap: 8px;
  display: flex;
  padding: 10px 18px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.homepage-text018 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-button07 {
  gap: 8px;
  display: flex;
  padding: 10px 18px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-600);
}
.homepage-text020 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-featuressection {
  gap: 64px;
  display: flex;
  padding: 96px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.homepage-container03 {
  gap: 32px;
  width: 1280px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-content03 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-headingandsupportingtext1 {
  gap: 20px;
  width: 768px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-headingandsubheading1 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-text022 {
  color: var(--dl-color-primary-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.homepage-text024 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 44px;
}
.homepage-text026 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 30px;
}
.homepage-container04 {
  gap: 64px;
  width: 1280px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-content04 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-frame-featuretext {
  gap: 20px;
  width: 384px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-featuredicon {
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 250, 230, 1);
  border-style: solid;
  border-width: 8px;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.homepage-messagechatcircle {
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.homepage-textandsupportingtext {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-text028 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 30px;
}
.homepage-text030 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.homepage-button08 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.homepage-text032 {
  color: var(--dl-color-primary-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-arrowright {
  width: 20px;
  height: 20px;
}
.homepage-frame-featuretext1 {
  gap: 20px;
  width: 384px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-featuredicon1 {
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 250, 230, 1);
  border-style: solid;
  border-width: 8px;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.homepage-zap {
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.homepage-textandsupportingtext1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-text034 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 30px;
}
.homepage-text036 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.homepage-button09 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.homepage-text038 {
  color: var(--dl-color-primary-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-arrowright1 {
  width: 20px;
  height: 20px;
}
.homepage-frame-featuretext2 {
  gap: 20px;
  width: 384px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-featuredicon2 {
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 250, 230, 1);
  border-style: solid;
  border-width: 8px;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.homepage-chartbreakoutsquare {
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.homepage-textandsupportingtext2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-text040 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 30px;
}
.homepage-text042 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.homepage-button10 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.homepage-text044 {
  color: var(--dl-color-primary-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-arrowright2 {
  width: 20px;
  height: 20px;
}
.homepage-featuressection1 {
  gap: 96px;
  display: flex;
  padding: 96px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.homepage-container05 {
  gap: 32px;
  width: 1280px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-content05 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.homepage-headingandsupportingtext2 {
  gap: 20px;
  width: 768px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-headingandsubheading2 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-text046 {
  color: var(--dl-color-primary-700);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 24px;
}
.homepage-text048 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 44px;
}
.homepage-text050 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 30px;
}
.homepage-section {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-section1 {
  gap: 64px;
  display: flex;
  padding: 96px 64px 96px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: flex-end;
}
.homepage-container06 {
  width: 576px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-content06 {
  gap: 32px;
  width: 512px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-iconandtext {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-featuredicon3 {
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 250, 230, 1);
  border-style: solid;
  border-width: 8px;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.homepage-messagechatcircle1 {
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.homepage-headingandsupportingtext3 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-text052 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 38px;
}
.homepage-text054 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.homepage-checkitems {
  gap: 20px;
  display: flex;
  padding: 0 0 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-checkitemtext {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-checkicon {
  width: 28px;
  height: 28px;
}
.homepage-textwrap {
  width: 456px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-text056 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.homepage-checkitemtext1 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-checkicon1 {
  width: 28px;
  height: 28px;
}
.homepage-textwrap1 {
  width: 456px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-text058 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.homepage-checkitemtext2 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-checkicon2 {
  width: 28px;
  height: 28px;
}
.homepage-textwrap2 {
  width: 456px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-text060 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.homepage-image {
  width: 720px;
  height: 560px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  background-size: cover;
  justify-content: center;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/91000129-b09c-4551-b38d-861d463970e9/2d1b9efa-6a83-4846-b31c-c15cb0be58f9?org_if_sml=1150591");
}
.homepage-section2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-image1 {
  width: 720px;
  height: 560px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  background-size: cover;
  justify-content: center;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/91000129-b09c-4551-b38d-861d463970e9/a7071d84-d6ac-4b98-8e34-13587ae9d2e9?org_if_sml=1148823");
}
.homepage-section3 {
  gap: 64px;
  display: flex;
  padding: 96px 0 96px 64px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}
.homepage-container07 {
  width: 576px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-content07 {
  gap: 32px;
  width: 512px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-iconandtext1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-featuredicon4 {
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 250, 230, 1);
  border-style: solid;
  border-width: 8px;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.homepage-zapfast {
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.homepage-headingandsupportingtext4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-text062 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 38px;
}
.homepage-text064 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.homepage-checkitems1 {
  gap: 20px;
  display: flex;
  padding: 0 0 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-checkitemtext3 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-checkicon3 {
  width: 28px;
  height: 28px;
}
.homepage-textwrap3 {
  width: 456px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-text066 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.homepage-checkitemtext4 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-checkicon4 {
  width: 28px;
  height: 28px;
}
.homepage-textwrap4 {
  width: 456px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-text068 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.homepage-checkitemtext5 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-checkicon5 {
  width: 28px;
  height: 28px;
}
.homepage-textwrap5 {
  width: 456px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-text070 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.homepage-section4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-section5 {
  gap: 64px;
  display: flex;
  padding: 96px 64px 96px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: flex-end;
}
.homepage-container08 {
  width: 576px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-content08 {
  gap: 32px;
  width: 512px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-iconandtext2 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-featuredicon5 {
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 250, 230, 1);
  border-style: solid;
  border-width: 8px;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.homepage-chartbreakoutsquare1 {
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.homepage-headingandsupportingtext5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-text072 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 38px;
}
.homepage-text074 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.homepage-checkitems2 {
  gap: 20px;
  display: flex;
  padding: 0 0 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-checkitemtext6 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-checkicon6 {
  width: 28px;
  height: 28px;
}
.homepage-textwrap6 {
  width: 456px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-text076 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.homepage-checkitemtext7 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-checkicon7 {
  width: 28px;
  height: 28px;
}
.homepage-textwrap7 {
  width: 456px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-text078 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.homepage-checkitemtext8 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-checkicon8 {
  width: 28px;
  height: 28px;
}
.homepage-textwrap8 {
  width: 456px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-text080 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.homepage-image2 {
  width: 720px;
  height: 560px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  background-size: cover;
  justify-content: center;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/91000129-b09c-4551-b38d-861d463970e9/e2a8b489-2f2f-464e-b466-554b3bdc9d9f?org_if_sml=1149046");
}
.homepage-featuressection2 {
  gap: 64px;
  width: 1440px;
  height: 518px;
  display: flex;
  padding: 96px 0;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  background-color: var(--dl-color-base-white);
}
.homepage-container09 {
  gap: 96px;
  top: 96px;
  left: 80px;
  width: 1280px;
  height: 326px;
  display: flex;
  padding: 0 32px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-content09 {
  gap: 40px;
  top: 0px;
  left: 32px;
  width: 560px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-headingandsupportingtext6 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-headingandbadge {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-badge {
  display: flex;
  padding: 4px 12px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-primary-50);
}
.homepage-text082 {
  color: var(--dl-color-primary-700);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.homepage-text084 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 44px;
}
.homepage-text086 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 30px;
}
.homepage-actions1 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
}
.homepage-button11 {
  gap: 8px;
  display: flex;
  padding: 12px 20px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.homepage-playcircle1 {
  width: 20px;
  height: 20px;
}
.homepage-text088 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-button12 {
  gap: 8px;
  display: flex;
  padding: 12px 20px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.homepage-text090 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-mapanddata {
  gap: 64px;
  top: 78px;
  left: 0px;
  width: 1440px;
  height: 344px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-mapwrap {
  top: 0px;
  left: 720px;
  width: 720px;
  height: 344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-frame-vectormap {
  top: 0px;
  left: 0px;
  width: 720px;
  height: 343.125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-contents {
  top: 1px;
  left: 0px;
  width: 721px;
  height: 338px;
  position: absolute;
}
.homepage-frame-maplocationmarker {
  top: 204px;
  left: 366px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
}
.homepage-outercircle {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  opacity: 0.10;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-middlecircle {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.20;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-innercircle {
  top: 16px;
  left: 16px;
  width: 8px;
  height: 8px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-frame-maplocationmarker01 {
  top: 139px;
  left: 114px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
}
.homepage-outercircle01 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  opacity: 0.10;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-middlecircle01 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.20;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-innercircle01 {
  top: 16px;
  left: 16px;
  width: 8px;
  height: 8px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-frame-maplocationmarker02 {
  top: 118px;
  left: 91px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
}
.homepage-outercircle02 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  opacity: 0.10;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-middlecircle02 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.20;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-innercircle02 {
  top: 16px;
  left: 16px;
  width: 8px;
  height: 8px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-frame-maplocationmarker03 {
  top: 97px;
  left: 521px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
}
.homepage-outercircle03 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  opacity: 0.10;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-middlecircle03 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.20;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-innercircle03 {
  top: 16px;
  left: 16px;
  width: 8px;
  height: 8px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-frame-maplocationmarker04 {
  top: 289px;
  left: 667px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
}
.homepage-outercircle04 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  opacity: 0.10;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-middlecircle04 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.20;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-innercircle04 {
  top: 16px;
  left: 16px;
  width: 8px;
  height: 8px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-frame-maplocationmarker05 {
  top: 107px;
  left: 119px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
}
.homepage-outercircle05 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  opacity: 0.10;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-middlecircle05 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.20;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-innercircle05 {
  top: 16px;
  left: 16px;
  width: 8px;
  height: 8px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-frame-maplocationmarker06 {
  top: 102px;
  left: 367px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
}
.homepage-outercircle06 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  opacity: 0.10;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-middlecircle06 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.20;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-innercircle06 {
  top: 16px;
  left: 16px;
  width: 8px;
  height: 8px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-frame-maplocationmarker07 {
  top: 73px;
  left: 581px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
}
.homepage-outercircle07 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  opacity: 0.10;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-middlecircle07 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.20;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-innercircle07 {
  top: 16px;
  left: 16px;
  width: 8px;
  height: 8px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-frame-maplocationmarker08 {
  top: 255px;
  left: 593px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
}
.homepage-outercircle08 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  opacity: 0.10;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-middlecircle08 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.20;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-innercircle08 {
  top: 16px;
  left: 16px;
  width: 8px;
  height: 8px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-frame-maplocationmarker09 {
  top: 195px;
  left: 531px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
}
.homepage-outercircle09 {
  top: -4px;
  left: -4px;
  width: 48px;
  height: 48px;
  display: flex;
  opacity: 0.10;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-middlecircle09 {
  top: 6px;
  left: 6px;
  width: 28px;
  height: 28px;
  display: flex;
  opacity: 0.20;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-innercircle09 {
  top: 16px;
  left: 16px;
  width: 8px;
  height: 8px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.homepage-cursor {
  top: 28px;
  left: 28px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.homepage-tooltip {
  top: -88px;
  left: -66.5px;
  width: 173px;
  display: flex;
  position: absolute;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.07999999821186066) ;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
}
.homepage-content10 {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.homepage-my {
  width: 20px;
  height: 20px;
}
.homepage-textandsupportingtext3 {
  gap: 4px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
}
.homepage-text092 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 18px;
}
.homepage-tooltip1 {
  width: 16px;
  height: 6px;
}
.homepage-frame-sectiondivider {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.homepage-container10 {
  width: 1280px;
  height: 1px;
}
.homepage-socialproofsection {
  display: flex;
  padding: 0 0 96px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.homepage-container11 {
  gap: 32px;
  width: 1280px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-content11 {
  gap: 32px;
  display: flex;
  padding: 64px;
  align-self: stretch;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--dl-color-gray-50);
}
.homepage-text094 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 30px;
}
.homepage-logos {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.homepage-fictionalcompanylogo {
  width: 170px;
  height: 48px;
}
.homepage-fictionalcompanylogo1 {
  width: 167px;
  height: 48px;
}
.homepage-fictionalcompanylogo2 {
  width: 198px;
  height: 48px;
}
.homepage-fictionalcompanylogo3 {
  width: 166px;
  height: 48px;
}
.homepage-fictionalcompanylogo4 {
  width: 197px;
  height: 48px;
}
.homepage-c-asection {
  display: flex;
  padding: 0 0 96px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.homepage-container12 {
  gap: 32px;
  width: 1280px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-content12 {
  gap: 32px;
  display: flex;
  padding: 64px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-800);
}
.homepage-headingandsupportingtext7 {
  gap: 16px;
  width: 768px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-text096 {
  color: var(--dl-color-base-white);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 38px;
}
.homepage-text098 {
  color: var(--dl-color-primary-200);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 30px;
}
.homepage-actions2 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
}
.homepage-button13 {
  gap: 8px;
  display: flex;
  padding: 12px 20px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.homepage-text100 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-button14 {
  gap: 8px;
  display: flex;
  padding: 12px 20px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.homepage-text102 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-footer {
  gap: 64px;
  display: flex;
  padding: 64px 0 48px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-50);
}
.homepage-container13 {
  gap: 48px;
  width: 1280px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-content13 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-logoandlinks {
  gap: 32px;
  width: 824px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-logo1 {
  display: flex;
  align-items: flex-start;
}
.homepage-logowrap1 {
  width: 142px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-logomark1 {
  top: 0px;
  left: 0px;
  width: 32px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
}
.homepage-frame11 {
  width: 32px;
  height: 32px;
}
.homepage-logotype1 {
  top: 0px;
  left: 42px;
  width: 100px;
  height: 32px;
  position: absolute;
}
.homepage-footerlinks {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.homepage-frame-footerlink {
  gap: 8px;
  display: flex;
  align-items: center;
}
.homepage-button15 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.homepage-text104 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-frame-footerlink1 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.homepage-button16 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.homepage-text106 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-frame-footerlink2 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.homepage-button17 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.homepage-text108 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-frame-footerlink3 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.homepage-button18 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.homepage-text110 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-frame-footerlink4 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.homepage-button19 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.homepage-text112 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-frame-footerlink5 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.homepage-button20 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.homepage-text114 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-newsletter {
  gap: 16px;
  width: 360px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-text116 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.homepage-emailcapture {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-inputfield {
  gap: 6px;
  width: 232px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-input {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.homepage-content14 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.homepage-text118 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.homepage-button21 {
  gap: 8px;
  display: flex;
  padding: 10px 18px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.homepage-text120 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-container14 {
  gap: 32px;
  width: 1280px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.homepage-content15 {
  gap: 32px;
  display: flex;
  padding: 32px 0 0 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.homepage-text122 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.homepage-footerlinks1 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.homepage-text124 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-text126 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.homepage-text128 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
