.sidebarnavigationparcel-sidebarnavigationparcel {
  width: 280px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigationparcel-content {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.sidebarnavigationparcel-nav {
  gap: 24px;
  display: flex;
  padding: 32px 0 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigationparcel-header {
  display: flex;
  padding: 0 20px 0 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigationparcel-logo {
  display: flex;
  align-items: flex-start;
}
.sidebarnavigationparcel-logowrap {
  width: 142px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sidebarnavigationparcel-logomark {
  top: 0px;
  left: 0px;
  width: 32px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
}
.sidebarnavigationparcel-frame1 {
  width: 32px;
  height: 32px;
}
.sidebarnavigationparcel-logotype {
  top: 0px;
  left: 42px;
  width: 100px;
  height: 32px;
  position: absolute;
}
.sidebarnavigationparcel-search {
  display: none;
  padding: 0 24px;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigationparcel-inputdropdown {
  gap: 8px;
  width: 231px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sidebarnavigationparcel-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigationparcel-input {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigationparcel-content1 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigationparcel-searchlg {
  width: 20px;
  height: 20px;
}
.sidebarnavigationparcel-text {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigationparcel-navigation {
  gap: 4px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigationparcel-navlink {
  display: contents;
}
.sidebarnavigationparcel-frame-navitembase {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigationparcel-content2 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigationparcel-homeline {
  width: 24px;
  height: 24px;
}
.sidebarnavigationparcel-text02 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigationparcel-navlink1 {
  display: contents;
}
.sidebarnavigationparcel-frame-navitembase1 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-50);
}
.sidebarnavigationparcel-content3 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigationparcel-package {
  width: 24px;
  height: 24px;
}
.sidebarnavigationparcel-text04 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigationparcel-navlink2 {
  display: contents;
}
.sidebarnavigationparcel-frame-navitembase2 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigationparcel-content4 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigationparcel-plane {
  width: 24px;
  height: 24px;
}
.sidebarnavigationparcel-text06 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigationparcel-navlink3 {
  display: contents;
}
.sidebarnavigationparcel-frame-navitembase3 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigationparcel-content5 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigationparcel-banknote01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigationparcel-text08 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigationparcel-navlink4 {
  display: contents;
}
.sidebarnavigationparcel-frame-navitembase4 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigationparcel-content6 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigationparcel-users01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigationparcel-text10 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigationparcel-footer {
  gap: 24px;
  display: flex;
  padding: 0 16px 32px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigationparcel-navigation1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigationparcel-navlink5 {
  display: contents;
}
.sidebarnavigationparcel-frame-navitembase5 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigationparcel-content7 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigationparcel-settings01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigationparcel-text12 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigationparcel-navlink6 {
  display: contents;
}
.sidebarnavigationparcel-account {
  gap: 47px;
  display: flex;
  padding: 24px 32px 0 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  text-decoration: none;
}
.sidebarnavigationparcel-avatarlabelgroup {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigationparcel-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 200px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/fc1cfe10-08e5-475a-8902-81b277486d6f-w84b-200h.undefined");
}
.sidebarnavigationparcel-textandsupportingtext {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigationparcel-text14 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.sidebarnavigationparcel-text16 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.sidebarnavigationparcel-button {
  gap: 8px;
  display: flex;
  padding: 8px;
  z-index: 1;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.sidebarnavigationparcel-logout01 {
  width: 20px;
  height: 20px;
}

.parcel-add-new-parcel-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.parcel-add-new-parcel-contents {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-main {
  gap: 24px;
  display: flex;
  padding: 32px 0 48px 0;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-25);
}
.parcel-add-new-parcel-headersection {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-container1 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-breadcrumbs {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.parcel-add-new-parcel-tabs {
  gap: 8px;
  display: flex;
  align-items: center;
}
.parcel-add-new-parcel-frame-breadcrumbbuttonbase {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: 6px;
  text-decoration: none;
}
.parcel-add-new-parcel-homeline {
  width: 20px;
  height: 20px;
}
.parcel-add-new-parcel-chevronright {
  width: 16px;
  height: 16px;
}
.parcel-add-new-parcel-frame-breadcrumbbuttonbase1 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  text-decoration: none;
}
.parcel-add-new-parcel-text {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.parcel-add-new-parcel-chevronright1 {
  width: 16px;
  height: 16px;
}
.parcel-add-new-parcel-frame-breadcrumbbuttonbase2 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}
.parcel-add-new-parcel-text02 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.parcel-add-new-parcel-chevronright2 {
  width: 16px;
  height: 16px;
}
.parcel-add-new-parcel-frame-breadcrumbbuttonbase3 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}
.parcel-add-new-parcel-text04 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.parcel-add-new-parcel-actions {
  gap: 12px;
  display: flex;
  align-items: center;
}
.parcel-add-new-parcel-dropdown {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-download01 {
  width: 20px;
  height: 20px;
}
.parcel-add-new-parcel-button {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.parcel-add-new-parcel-searchrefraction {
  width: 20px;
  height: 20px;
}
.parcel-add-new-parcel-button1 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.parcel-add-new-parcel-bell01 {
  width: 20px;
  height: 20px;
}
.parcel-add-new-parcel-dropdown1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-button2 {
  gap: 8px;
  display: none;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 24px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-600);
}
.parcel-add-new-parcel-plus {
  width: 20px;
  height: 20px;
}
.parcel-add-new-parcel-pageheader {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-content {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.parcel-add-new-parcel-textandsupportingtext {
  gap: 4px;
  width: 1096px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.parcel-add-new-parcel-text05 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 38px;
}
.parcel-add-new-parcel-text07 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.parcel-add-new-parcel-divider {
  width: 1096px;
  height: 1px;
  align-self: stretch;
}
.parcel-add-new-parcel-section {
  gap: 24px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.parcel-add-new-parcel-container2 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.parcel-add-new-parcel-modal {
  width: 640px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.07999999821186066) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-frame-modalheader {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-buttonclose-x {
  display: flex;
  padding: 10px;
  z-index: 1;
  overflow: hidden;
  align-self: flex-end;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.parcel-add-new-parcel-xclose {
  width: 24px;
  height: 24px;
}
.parcel-add-new-parcel-content01 {
  gap: 16px;
  display: flex;
  padding: 24px 24px 0 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-featuredicon {
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-packageplus {
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.parcel-add-new-parcel-textandsupportingtext1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-text09 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.parcel-add-new-parcel-paddingbottom {
  height: 20px;
  display: flex;
  z-index: 2;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.parcel-add-new-parcel-content02 {
  gap: 20px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-form {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-row {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.parcel-add-new-parcel-inputfield {
  gap: 6px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-text11 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.parcel-add-new-parcel-input {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-content03 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.parcel-add-new-parcel-text13 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.parcel-add-new-parcel-helpicon {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.parcel-add-new-parcel-helpcircle {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.parcel-add-new-parcel-inputfield1 {
  gap: 6px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-inputwithlabel01 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-text15 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.parcel-add-new-parcel-input01 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-content04 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.parcel-add-new-parcel-text17 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.parcel-add-new-parcel-helpicon1 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.parcel-add-new-parcel-helpcircle1 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.parcel-add-new-parcel-row1 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.parcel-add-new-parcel-inputdropdown {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-inputwithlabel02 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-text19 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.parcel-add-new-parcel-input02 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-content05 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.parcel-add-new-parcel-packagesearch {
  width: 20px;
  height: 20px;
}
.parcel-add-new-parcel-text21 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.parcel-add-new-parcel-chevrondown {
  width: 20px;
  height: 20px;
}
.parcel-add-new-parcel-inputdropdown1 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-inputwithlabel03 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-text23 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.parcel-add-new-parcel-input03 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-content06 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.parcel-add-new-parcel-building02 {
  width: 20px;
  height: 20px;
}
.parcel-add-new-parcel-text25 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.parcel-add-new-parcel-chevrondown1 {
  width: 20px;
  height: 20px;
}
.parcel-add-new-parcel-row2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.parcel-add-new-parcel-inputfield2 {
  gap: 6px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-inputwithlabel04 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-text27 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.parcel-add-new-parcel-input04 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-content07 {
  gap: 8px;
  display: flex;
  padding: 8px 0 8px 12px;
  flex-grow: 1;
  align-items: center;
}
.parcel-add-new-parcel-textinput {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.parcel-add-new-parcel-text29 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.parcel-add-new-parcel-text31 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.parcel-add-new-parcel-helpicon2 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.parcel-add-new-parcel-helpcircle2 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.parcel-add-new-parcel-dropdown2 {
  gap: 4px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}
.parcel-add-new-parcel-text33 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.parcel-add-new-parcel-chevrondown2 {
  width: 20px;
  height: 20px;
}
.parcel-add-new-parcel-inputdropdown2 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-inputwithlabel05 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-text35 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.parcel-add-new-parcel-input05 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-content08 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.parcel-add-new-parcel-text37 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.parcel-add-new-parcel-chevrondown3 {
  width: 20px;
  height: 20px;
}
.parcel-add-new-parcel-row3 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.parcel-add-new-parcel-inputfield3 {
  gap: 6px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-inputwithlabel06 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-text39 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.parcel-add-new-parcel-input06 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-content09 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.parcel-add-new-parcel-text41 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.parcel-add-new-parcel-helpicon3 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.parcel-add-new-parcel-helpcircle3 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.parcel-add-new-parcel-inputfield4 {
  gap: 6px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-inputwithlabel07 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-text43 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.parcel-add-new-parcel-input07 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-content10 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.parcel-add-new-parcel-text45 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.parcel-add-new-parcel-helpicon4 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.parcel-add-new-parcel-helpcircle4 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.parcel-add-new-parcel-inputfield5 {
  gap: 6px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-inputwithlabel08 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-text47 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.parcel-add-new-parcel-input08 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-content11 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.parcel-add-new-parcel-text49 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.parcel-add-new-parcel-helpicon5 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.parcel-add-new-parcel-helpcircle5 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.parcel-add-new-parcel-textareainputfield {
  gap: 6px;
  height: 144px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.parcel-add-new-parcel-inputwithlabel09 {
  gap: 6px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-text51 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.parcel-add-new-parcel-input09 {
  gap: 8px;
  color: rgba(102, 112, 132, 1);
  display: flex;
  padding: 12px 14px;
  overflow: hidden;
  flex-grow: 1;
  font-size: 16px;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  text-align: left;
  align-items: flex-start;
  font-family: Open Sans;
  font-weight: 400;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.parcel-add-new-parcel-frame-modalactions {
  display: flex;
  padding: 32px 0 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.parcel-add-new-parcel-content12 {
  gap: 12px;
  display: flex;
  padding: 0 24px 24px 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.parcel-add-new-parcel-button3 {
  gap: 8px;
  display: flex;
  padding: 10px 18px;
  overflow: hidden;
  flex-grow: 1;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-600);
}
.parcel-add-new-parcel-text53 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
