.sidebarnavigation-shipment-sidebarnavigationparcel {
  width: 280px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.sidebarnavigation-shipment-nav {
  gap: 24px;
  display: flex;
  padding: 32px 0 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-header {
  display: flex;
  padding: 0 20px 0 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-logo {
  display: flex;
  align-items: flex-start;
}
.sidebarnavigation-shipment-logowrap {
  width: 142px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sidebarnavigation-shipment-logomark {
  top: 0px;
  left: 0px;
  width: 32px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
}
.sidebarnavigation-shipment-frame1 {
  width: 32px;
  height: 32px;
}
.sidebarnavigation-shipment-logotype {
  top: 0px;
  left: 42px;
  width: 100px;
  height: 32px;
  position: absolute;
}
.sidebarnavigation-shipment-search {
  display: none;
  padding: 0 24px;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-inputdropdown {
  gap: 8px;
  width: 231px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sidebarnavigation-shipment-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-input {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content1 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-searchlg {
  width: 20px;
  height: 20px;
}
.sidebarnavigation-shipment-text {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navigation {
  gap: 4px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-navlink {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content2 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-homeline {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text02 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink1 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase1 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.sidebarnavigation-shipment-content3 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-package {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text04 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink2 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase2 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-50);
}
.sidebarnavigation-shipment-content4 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-plane {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text06 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink3 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase3 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content5 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-banknote01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text08 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink4 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase4 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content6 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-users01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text10 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-footer {
  gap: 24px;
  display: flex;
  padding: 0 16px 32px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-navigation1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-navlink5 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase5 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content7 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-settings01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text12 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink6 {
  display: contents;
}
.sidebarnavigation-shipment-account {
  gap: 47px;
  display: flex;
  padding: 24px 32px 0 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  text-decoration: none;
}
.sidebarnavigation-shipment-avatarlabelgroup {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 200px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/fc1cfe10-08e5-475a-8902-81b277486d6f-w84b-200h.undefined");
}
.sidebarnavigation-shipment-textandsupportingtext {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-text14 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.sidebarnavigation-shipment-text16 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.sidebarnavigation-shipment-button {
  gap: 8px;
  display: flex;
  padding: 8px;
  z-index: 1;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.sidebarnavigation-shipment-logout01 {
  width: 20px;
  height: 20px;
}

.shipment-edit-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.shipment-edit-contents {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-main {
  gap: 24px;
  display: flex;
  padding: 32px 0 48px 0;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-25);
}
.shipment-edit-headersection {
  gap: 24px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-container1 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-breadcrumbs {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.shipment-edit-tabs {
  gap: 8px;
  display: flex;
  align-items: center;
}
.shipment-edit-frame-breadcrumbbuttonbase {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: 6px;
  text-decoration: none;
}
.shipment-edit-homeline {
  width: 20px;
  height: 20px;
}
.shipment-edit-chevronright {
  width: 16px;
  height: 16px;
}
.shipment-edit-frame-breadcrumbbuttonbase1 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}
.shipment-edit-text {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.shipment-edit-chevronright1 {
  width: 16px;
  height: 16px;
}
.shipment-edit-frame-breadcrumbbuttonbase2 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}
.shipment-edit-text002 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-chevronright2 {
  width: 16px;
  height: 16px;
}
.shipment-edit-frame-breadcrumbbuttonbase3 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}
.shipment-edit-text004 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-actions {
  gap: 12px;
  display: flex;
  align-items: center;
}
.shipment-edit-dropdown {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-download01 {
  width: 20px;
  height: 20px;
}
.shipment-edit-button {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.shipment-edit-searchrefraction {
  width: 20px;
  height: 20px;
}
.shipment-edit-button01 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.shipment-edit-bell01 {
  width: 20px;
  height: 20px;
}
.shipment-edit-dropdown1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-button02 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 24px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-600);
}
.shipment-edit-plus {
  width: 20px;
  height: 20px;
}
.shipment-edit-pageheader {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-content {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-edit-textandsupportingtext {
  gap: 4px;
  width: 1096px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-text006 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 38px;
}
.shipment-edit-text008 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-divider {
  width: 1096px;
  height: 1px;
  align-self: stretch;
}
.shipment-edit-section {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-container2 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-form {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-content01 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-edit-textandsupportingtext1 {
  width: 280px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-text010 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-text012 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-form1 {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content02 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-inputdropdown {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text014 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content03 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-packagesearch {
  width: 20px;
  height: 20px;
}
.shipment-edit-text016 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-chevrondown {
  width: 20px;
  height: 20px;
}
.shipment-edit-sectionfooter {
  gap: 16px;
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-direction: column;
}
.shipment-edit-divider1 {
  width: 784px;
  height: 1px;
  align-self: stretch;
}
.shipment-edit-content04 {
  gap: 16px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.shipment-edit-actions1 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.shipment-edit-button03 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-text018 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-button04 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.shipment-edit-text020 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-content05 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-edit-textandsupportingtext2 {
  width: 280px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-text022 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-text024 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-form2 {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content06 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-inputfield {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-inputwithlabel01 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text026 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input01 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content07 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-text028 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-inputfields {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-edit-inputfield01 {
  gap: 6px;
  width: 356px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-inputwithlabel02 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text030 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input02 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content08 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-mail01 {
  width: 20px;
  height: 20px;
}
.shipment-edit-text032 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.shipment-edit-text033 {
  text-decoration: NONE;
}
.shipment-edit-inputfield02 {
  gap: 6px;
  width: 356px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-inputwithlabel03 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text035 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input03 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content09 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-phone {
  width: 20px;
  height: 20px;
}
.shipment-edit-text037 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-inputfield03 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-inputwithlabel04 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text039 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input04 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content10 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-text041 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-inputfield04 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-inputwithlabel05 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text043 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input05 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content11 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-text045 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-inputfields1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-edit-inputfield05 {
  gap: 6px;
  width: 229.3333282470703px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-inputwithlabel06 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text047 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input06 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content12 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-text049 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.shipment-edit-inputfield06 {
  gap: 6px;
  width: 229.3333282470703px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-inputwithlabel07 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text051 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input07 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content13 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-text053 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-inputdropdown1 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-inputwithlabel08 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text055 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input08 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content14 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-my {
  width: 20px;
  height: 20px;
}
.shipment-edit-text057 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-chevrondown1 {
  width: 20px;
  height: 20px;
}
.shipment-edit-sectionfooter1 {
  gap: 16px;
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-direction: column;
}
.shipment-edit-divider2 {
  width: 784px;
  height: 1px;
  align-self: stretch;
}
.shipment-edit-content15 {
  gap: 16px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.shipment-edit-actions2 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.shipment-edit-button05 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-text059 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-button06 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.shipment-edit-text061 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-content16 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-edit-textandsupportingtext3 {
  width: 280px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-text063 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-text065 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-form3 {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content17 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-inputdropdown2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-inputwithlabel09 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text067 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input09 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content18 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-packagesearch1 {
  width: 20px;
  height: 20px;
}
.shipment-edit-text069 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-chevrondown2 {
  width: 20px;
  height: 20px;
}
.shipment-edit-inputfield07 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-inputwithlabel10 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text071 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input10 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content19 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-text073 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-inputfields2 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-edit-inputfield08 {
  gap: 6px;
  width: 356px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-inputwithlabel11 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text075 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input11 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content20 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-mail011 {
  width: 20px;
  height: 20px;
}
.shipment-edit-text077 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.shipment-edit-text078 {
  text-decoration: NONE;
}
.shipment-edit-inputfield09 {
  gap: 6px;
  width: 356px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-inputwithlabel12 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text080 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input12 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content21 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-phone1 {
  width: 20px;
  height: 20px;
}
.shipment-edit-text082 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-inputfield10 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-inputwithlabel13 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text084 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input13 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content22 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-text086 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-inputfield11 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-inputwithlabel14 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text088 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input14 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content23 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-text090 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-inputfields3 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-edit-inputfield12 {
  gap: 6px;
  width: 229.3333282470703px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-inputwithlabel15 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text092 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input15 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content24 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-text094 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.shipment-edit-inputfield13 {
  gap: 6px;
  width: 229.3333282470703px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-inputwithlabel16 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text096 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input16 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content25 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-text098 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-inputdropdown3 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-inputwithlabel17 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text100 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input17 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content26 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-my1 {
  width: 20px;
  height: 20px;
}
.shipment-edit-text102 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-chevrondown3 {
  width: 20px;
  height: 20px;
}
.shipment-edit-sectionfooter2 {
  gap: 16px;
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-direction: column;
}
.shipment-edit-divider3 {
  width: 784px;
  height: 1px;
  align-self: stretch;
}
.shipment-edit-content27 {
  gap: 16px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.shipment-edit-actions3 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.shipment-edit-button07 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-text104 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-button08 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.shipment-edit-text106 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-content28 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-edit-textandsupportingtext4 {
  width: 280px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-text108 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-text110 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-form4 {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content29 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-inputdropdown4 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-inputwithlabel18 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text112 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-input18 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-content30 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-edit-logisticmethodicon {
  width: 20px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(242, 243, 246, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
.shipment-edit-text114 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-chevrondown4 {
  width: 20px;
  height: 20px;
}
.shipment-edit-toggle {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-edit-frame-togglebase {
  width: 36px;
  height: 20px;
  display: flex;
  padding: 2px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: flex-end;
  background-color: var(--dl-color-primary-600);
}
.shipment-edit-button09 {
  width: 16px;
  height: 16px;
}
.shipment-edit-textandsupportingtext5 {
  width: 692px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-text116 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-text118 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-datepickerdropdown {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-button10 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-calendar {
  width: 20px;
  height: 20px;
}
.shipment-edit-text120 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-sectionfooter3 {
  gap: 16px;
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-direction: column;
}
.shipment-edit-divider4 {
  width: 784px;
  height: 1px;
  align-self: stretch;
}
.shipment-edit-content31 {
  gap: 16px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.shipment-edit-actions4 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.shipment-edit-button11 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-text122 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-button12 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.shipment-edit-text124 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-edit-divider5 {
  width: auto;
  height: 1px;
  align-self: stretch;
}
.shipment-edit-content32 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.shipment-edit-frame-pricingtiercard {
  width: 1096px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.07999999821186066) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-header {
  gap: 32px;
  display: flex;
  padding: 32px 32px 24px 32px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  flex-direction: column;
}
.shipment-edit-headingandprice {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-edit-headingandsupportingtext {
  gap: 4px;
  width: 808px;
  display: flex;
  padding: 4px 0 0 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-edit-headingandbadge {
  gap: 8px;
  display: flex;
  align-items: center;
}
.shipment-edit-text126 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 32px;
}
.shipment-edit-text128 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-price {
  gap: 2px;
  display: flex;
  align-items: flex-end;
}
.shipment-edit-framewrap {
  gap: 10px;
  display: flex;
  padding: 0 0 20px 0;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-text130 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 44px;
}
.shipment-edit-text131 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 72px;
}
.shipment-edit-periodwrap {
  display: flex;
  padding: 0 0 8px 0;
  align-items: flex-start;
}
.shipment-edit-text133 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-footer {
  gap: 24px;
  display: flex;
  padding: 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-actions5 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-edit-button13 {
  gap: 8px;
  display: flex;
  padding: 12px 20px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-600);
}
.shipment-edit-save02 {
  width: 20px;
  height: 20px;
}
.shipment-edit-text135 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.shipment-edit-button14 {
  gap: 8px;
  display: flex;
  padding: 12px 20px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.shipment-edit-text137 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
