.sidebarnavigation-shipment-sidebarnavigationparcel {
  width: 280px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.sidebarnavigation-shipment-nav {
  gap: 24px;
  display: flex;
  padding: 32px 0 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-header {
  display: flex;
  padding: 0 20px 0 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-logo {
  display: flex;
  align-items: flex-start;
}
.sidebarnavigation-shipment-logowrap {
  width: 142px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sidebarnavigation-shipment-logomark {
  top: 0px;
  left: 0px;
  width: 32px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
}
.sidebarnavigation-shipment-frame1 {
  width: 32px;
  height: 32px;
}
.sidebarnavigation-shipment-logotype {
  top: 0px;
  left: 42px;
  width: 100px;
  height: 32px;
  position: absolute;
}
.sidebarnavigation-shipment-search {
  display: none;
  padding: 0 24px;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-inputdropdown {
  gap: 8px;
  width: 231px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sidebarnavigation-shipment-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-input {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content1 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-searchlg {
  width: 20px;
  height: 20px;
}
.sidebarnavigation-shipment-text {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navigation {
  gap: 4px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-navlink {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content2 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-homeline {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text02 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink1 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase1 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.sidebarnavigation-shipment-content3 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-package {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text04 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink2 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase2 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-50);
}
.sidebarnavigation-shipment-content4 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-plane {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text06 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink3 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase3 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content5 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-banknote01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text08 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink4 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase4 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content6 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-users01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text10 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-footer {
  gap: 24px;
  display: flex;
  padding: 0 16px 32px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-navigation1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-navlink5 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase5 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content7 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-settings01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text12 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink6 {
  display: contents;
}
.sidebarnavigation-shipment-account {
  gap: 47px;
  display: flex;
  padding: 24px 32px 0 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  text-decoration: none;
}
.sidebarnavigation-shipment-avatarlabelgroup {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 200px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/fc1cfe10-08e5-475a-8902-81b277486d6f-w84b-200h.undefined");
}
.sidebarnavigation-shipment-textandsupportingtext {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-text14 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.sidebarnavigation-shipment-text16 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.sidebarnavigation-shipment-button {
  gap: 8px;
  display: flex;
  padding: 8px;
  z-index: 1;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.sidebarnavigation-shipment-logout01 {
  width: 20px;
  height: 20px;
}

.shipment-view-details-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.shipment-view-details-contents {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-main {
  gap: 24px;
  display: flex;
  padding: 32px 0 48px 0;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-25);
}
.shipment-view-details-headersection {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-container1 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-breadcrumbs {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.shipment-view-details-tabs {
  gap: 8px;
  display: flex;
  align-items: center;
}
.shipment-view-details-frame-breadcrumbbuttonbase {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: 6px;
  text-decoration: none;
}
.shipment-view-details-homeline {
  width: 20px;
  height: 20px;
}
.shipment-view-details-chevronright {
  width: 16px;
  height: 16px;
}
.shipment-view-details-frame-breadcrumbbuttonbase1 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}
.shipment-view-details-text {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.shipment-view-details-chevronright1 {
  width: 16px;
  height: 16px;
}
.shipment-view-details-frame-breadcrumbbuttonbase2 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}
.shipment-view-details-text002 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-chevronright2 {
  width: 16px;
  height: 16px;
}
.shipment-view-details-frame-breadcrumbbuttonbase3 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}
.shipment-view-details-text004 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-actions {
  gap: 12px;
  display: flex;
  align-items: center;
}
.shipment-view-details-dropdown {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-download01 {
  width: 20px;
  height: 20px;
}
.shipment-view-details-button {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.shipment-view-details-searchrefraction {
  width: 20px;
  height: 20px;
}
.shipment-view-details-button01 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.shipment-view-details-bell01 {
  width: 20px;
  height: 20px;
}
.shipment-view-details-dropdown1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-button02 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 24px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-600);
}
.shipment-view-details-plus {
  width: 20px;
  height: 20px;
}
.shipment-view-details-pageheader {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-content {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-view-details-textandsupportingtext {
  gap: 4px;
  width: 1096px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-text006 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 38px;
}
.shipment-view-details-text008 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-divider {
  width: 1096px;
  height: 1px;
  align-self: stretch;
}
.shipment-view-details-section {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-container2 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-form {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-content01 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-view-details-textandsupportingtext1 {
  width: 280px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-text010 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-text012 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-form1 {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content02 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-inputdropdown {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text014 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content03 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-packagesearch {
  width: 20px;
  height: 20px;
}
.shipment-view-details-text016 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-chevrondown {
  width: 20px;
  height: 20px;
}
.shipment-view-details-sectionfooter {
  gap: 16px;
  display: none;
  padding: 0 0 16px 0;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-direction: column;
}
.shipment-view-details-divider1 {
  width: 784px;
  height: 1px;
  align-self: stretch;
}
.shipment-view-details-content04 {
  gap: 16px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.shipment-view-details-actions1 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.shipment-view-details-button03 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-text017 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-button04 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.shipment-view-details-text019 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-content05 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-view-details-textandsupportingtext2 {
  width: 280px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-text021 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-text023 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-form2 {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content06 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-inputfield {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel01 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text025 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input01 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content07 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-text027 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-inputfields {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-view-details-inputfield01 {
  gap: 6px;
  width: 356px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel02 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text029 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input02 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content08 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-mail01 {
  width: 20px;
  height: 20px;
}
.shipment-view-details-text031 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.shipment-view-details-text032 {
  text-decoration: NONE;
}
.shipment-view-details-inputfield02 {
  gap: 6px;
  width: 356px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel03 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text034 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input03 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content09 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-phone {
  width: 20px;
  height: 20px;
}
.shipment-view-details-text036 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-inputfield03 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel04 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text038 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input04 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content10 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-text040 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-inputfield04 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel05 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text042 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input05 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content11 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-text044 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-inputfields1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-view-details-inputfield05 {
  gap: 6px;
  width: 229.3333282470703px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel06 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text046 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input06 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content12 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-text048 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.shipment-view-details-inputfield06 {
  gap: 6px;
  width: 229.3333282470703px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel07 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text050 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input07 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content13 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-text052 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-inputdropdown1 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel08 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text054 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input08 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content14 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-my {
  width: 20px;
  height: 20px;
}
.shipment-view-details-text056 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-chevrondown1 {
  width: 20px;
  height: 20px;
}
.shipment-view-details-sectionfooter1 {
  gap: 16px;
  display: none;
  padding: 0 0 16px 0;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-direction: column;
}
.shipment-view-details-divider2 {
  width: 784px;
  height: 1px;
  align-self: stretch;
}
.shipment-view-details-content15 {
  gap: 16px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.shipment-view-details-actions2 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.shipment-view-details-button05 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-text058 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-button06 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.shipment-view-details-text060 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-content16 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-view-details-textandsupportingtext3 {
  width: 280px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-text062 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-text064 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-form3 {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content17 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-inputdropdown2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel09 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text066 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input09 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content18 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-packagesearch1 {
  width: 20px;
  height: 20px;
}
.shipment-view-details-text068 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-chevrondown2 {
  width: 20px;
  height: 20px;
}
.shipment-view-details-inputfield07 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel10 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text070 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input10 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content19 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-text072 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-inputfields2 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-view-details-inputfield08 {
  gap: 6px;
  width: 356px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel11 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text074 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input11 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content20 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-mail011 {
  width: 20px;
  height: 20px;
}
.shipment-view-details-text076 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.shipment-view-details-text077 {
  text-decoration: NONE;
}
.shipment-view-details-inputfield09 {
  gap: 6px;
  width: 356px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel12 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text079 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input12 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content21 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-phone1 {
  width: 20px;
  height: 20px;
}
.shipment-view-details-text081 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-inputfield10 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel13 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text083 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input13 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content22 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-text085 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-inputfield11 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel14 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text087 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input14 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content23 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-text089 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-inputfields3 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-view-details-inputfield12 {
  gap: 6px;
  width: 229.3333282470703px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel15 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text091 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input15 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content24 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-text093 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.shipment-view-details-inputfield13 {
  gap: 6px;
  width: 229.3333282470703px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel16 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text095 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input16 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content25 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-text097 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-inputdropdown3 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel17 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text099 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input17 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content26 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-my1 {
  width: 20px;
  height: 20px;
}
.shipment-view-details-text101 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-chevrondown3 {
  width: 20px;
  height: 20px;
}
.shipment-view-details-sectionfooter2 {
  gap: 16px;
  display: none;
  padding: 0 0 16px 0;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-direction: column;
}
.shipment-view-details-divider3 {
  width: 784px;
  height: 1px;
  align-self: stretch;
}
.shipment-view-details-content27 {
  gap: 16px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.shipment-view-details-actions3 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.shipment-view-details-button07 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-text103 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-button08 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.shipment-view-details-text105 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-content28 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-view-details-textandsupportingtext4 {
  width: 280px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-text107 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-text109 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-form4 {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content29 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-inputdropdown4 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-inputwithlabel18 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text111 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-input18 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-content30 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.shipment-view-details-logisticmethodicon {
  width: 20px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(242, 243, 246, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.shipment-view-details-text113 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-chevrondown4 {
  width: 20px;
  height: 20px;
}
.shipment-view-details-toggle {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-view-details-frame-togglebase {
  width: 36px;
  height: 20px;
  display: flex;
  padding: 2px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: flex-end;
  background-color: var(--dl-color-primary-600);
}
.shipment-view-details-button09 {
  width: 16px;
  height: 16px;
}
.shipment-view-details-textandsupportingtext5 {
  width: 692px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-text115 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-text117 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-datepickerdropdown {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-button10 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-calendar {
  width: 20px;
  height: 20px;
}
.shipment-view-details-text119 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-sectionfooter3 {
  gap: 16px;
  display: none;
  padding: 0 0 16px 0;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-direction: column;
}
.shipment-view-details-divider4 {
  width: 784px;
  height: 1px;
  align-self: stretch;
}
.shipment-view-details-content31 {
  gap: 16px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.shipment-view-details-actions4 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.shipment-view-details-button11 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-text120 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-button12 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.shipment-view-details-text122 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.shipment-view-details-divider5 {
  width: auto;
  height: 1px;
  align-self: stretch;
}
.shipment-view-details-content32 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.shipment-view-details-frame-pricingtiercard {
  width: 1096px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.07999999821186066) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-header {
  gap: 32px;
  display: flex;
  padding: 32px 32px 24px 32px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  flex-direction: column;
}
.shipment-view-details-headingandprice {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.shipment-view-details-headingandsupportingtext {
  gap: 4px;
  width: 808px;
  display: flex;
  padding: 4px 0 0 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.shipment-view-details-headingandbadge {
  gap: 8px;
  display: flex;
  align-items: center;
}
.shipment-view-details-text124 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 32px;
}
.shipment-view-details-text126 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-price {
  gap: 2px;
  display: flex;
  align-items: flex-end;
}
.shipment-view-details-framewrap {
  gap: 10px;
  display: flex;
  padding: 0 0 20px 0;
  align-items: flex-start;
  flex-direction: column;
}
.shipment-view-details-text128 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 44px;
}
.shipment-view-details-text129 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 72px;
}
.shipment-view-details-periodwrap {
  display: flex;
  padding: 0 0 8px 0;
  align-items: flex-start;
}
.shipment-view-details-text131 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.shipment-view-details-footer {
  gap: 24px;
  display: flex;
  padding: 32px;
  align-self: stretch;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-actions5 {
  gap: 12px;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}
.shipment-view-details-button13 {
  gap: 8px;
  width: 250px;
  display: flex;
  padding: 12px 20px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.shipment-view-details-text133 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
