.sidebarnavigation-shipment-sidebarnavigationparcel {
  width: 280px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.sidebarnavigation-shipment-nav {
  gap: 24px;
  display: flex;
  padding: 32px 0 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-header {
  display: flex;
  padding: 0 20px 0 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-logo {
  display: flex;
  align-items: flex-start;
}
.sidebarnavigation-shipment-logowrap {
  width: 142px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sidebarnavigation-shipment-logomark {
  top: 0px;
  left: 0px;
  width: 32px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
}
.sidebarnavigation-shipment-frame1 {
  width: 32px;
  height: 32px;
}
.sidebarnavigation-shipment-logotype {
  top: 0px;
  left: 42px;
  width: 100px;
  height: 32px;
  position: absolute;
}
.sidebarnavigation-shipment-search {
  display: none;
  padding: 0 24px;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-inputdropdown {
  gap: 8px;
  width: 231px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sidebarnavigation-shipment-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-input {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content1 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-searchlg {
  width: 20px;
  height: 20px;
}
.sidebarnavigation-shipment-text {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navigation {
  gap: 4px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-navlink {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content2 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-homeline {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text02 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink1 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase1 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.sidebarnavigation-shipment-content3 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-package {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text04 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink2 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase2 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-50);
}
.sidebarnavigation-shipment-content4 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-plane {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text06 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink3 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase3 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content5 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-banknote01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text08 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink4 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase4 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content6 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-users01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text10 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-footer {
  gap: 24px;
  display: flex;
  padding: 0 16px 32px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-navigation1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-navlink5 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase5 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content7 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-settings01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text12 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink6 {
  display: contents;
}
.sidebarnavigation-shipment-account {
  gap: 47px;
  display: flex;
  padding: 24px 32px 0 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  text-decoration: none;
}
.sidebarnavigation-shipment-avatarlabelgroup {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 200px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/fc1cfe10-08e5-475a-8902-81b277486d6f-w84b-200h.undefined");
}
.sidebarnavigation-shipment-textandsupportingtext {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-text14 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.sidebarnavigation-shipment-text16 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.sidebarnavigation-shipment-button {
  gap: 8px;
  display: flex;
  padding: 8px;
  z-index: 1;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.sidebarnavigation-shipment-logout01 {
  width: 20px;
  height: 20px;
}

.transaction-check-out-card-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.transaction-check-out-card-contents {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-main {
  gap: 24px;
  display: flex;
  padding: 32px 0 48px 0;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-25);
}
.transaction-check-out-card-headersection {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-container1 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-breadcrumbs {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.transaction-check-out-card-tabs {
  gap: 8px;
  display: flex;
  align-items: center;
}
.transaction-check-out-card-frame-breadcrumbbuttonbase {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: 6px;
  text-decoration: none;
}
.transaction-check-out-card-homeline {
  width: 20px;
  height: 20px;
}
.transaction-check-out-card-chevronright {
  width: 16px;
  height: 16px;
}
.transaction-check-out-card-frame-breadcrumbbuttonbase1 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  text-decoration: none;
}
.transaction-check-out-card-text {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-chevronright1 {
  width: 16px;
  height: 16px;
}
.transaction-check-out-card-frame-breadcrumbbuttonbase2 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}
.transaction-check-out-card-text002 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-chevronright2 {
  width: 16px;
  height: 16px;
}
.transaction-check-out-card-frame-breadcrumbbuttonbase3 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}
.transaction-check-out-card-text004 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-actions {
  gap: 12px;
  display: flex;
  align-items: center;
}
.transaction-check-out-card-dropdown {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-download01 {
  width: 20px;
  height: 20px;
}
.transaction-check-out-card-button {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.transaction-check-out-card-searchrefraction {
  width: 20px;
  height: 20px;
}
.transaction-check-out-card-button1 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.transaction-check-out-card-bell01 {
  width: 20px;
  height: 20px;
}
.transaction-check-out-card-dropdown1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-button2 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 24px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-600);
}
.transaction-check-out-card-plus {
  width: 20px;
  height: 20px;
}
.transaction-check-out-card-pageheader {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-content {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-check-out-card-textandsupportingtext {
  gap: 4px;
  width: 1096px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-check-out-card-text006 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 38px;
}
.transaction-check-out-card-text008 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-divider {
  width: 1096px;
  height: 1px;
  align-self: stretch;
}
.transaction-check-out-card-section {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-container2 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
.transaction-check-out-card-content01 {
  gap: 24px;
  height: 929px;
  display: flex;
  padding: 24px 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-check-out-card-inline-cta {
  gap: 20px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 12px;
  flex-direction: column;
}
.transaction-check-out-card-header {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-text010 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.transaction-check-out-card-text012 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 60px;
}
.transaction-check-out-card-card {
  gap: 16px;
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-content02 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.transaction-check-out-card-paymentmethodicon {
  width: 58px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(242, 243, 246, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-alipay {
  top: 14.663798332214355px;
  left: 5px;
  width: 46.666664123535156px;
  height: 11.76668643951416px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.transaction-check-out-card-vector {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.transaction-check-out-card-vector01 {
  top: 1.5595521926879883px;
  left: 0.863957405090332px;
  width: 11px;
  height: 8px;
  position: absolute;
}
.transaction-check-out-card-vector02 {
  top: 0.7042856216430664px;
  left: 25.33539581298828px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.transaction-check-out-card-vector03 {
  top: 0.9610996246337891px;
  left: 22.361759185791016px;
  width: 2px;
  height: 9px;
  position: absolute;
}
.transaction-check-out-card-vector04 {
  top: 1.2542352676391602px;
  left: 13.862968444824219px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.transaction-check-out-card-vector05 {
  top: 3.2326745986938477px;
  left: 25.47648048400879px;
  width: 2px;
  height: 6px;
  position: absolute;
}
.transaction-check-out-card-vector06 {
  top: 3.2326745986938477px;
  left: 40.427330017089844px;
  width: 6px;
  height: 8px;
  position: absolute;
}
.transaction-check-out-card-vector07 {
  top: 3.103726387023926px;
  left: 28.274852752685547px;
  width: 6px;
  height: 8px;
  position: absolute;
}
.transaction-check-out-card-vector08 {
  top: 3.103726387023926px;
  left: 34.595787048339844px;
  width: 6px;
  height: 7px;
  position: absolute;
}
.transaction-check-out-card-content03 {
  gap: 8px;
  width: 350px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-check-out-card-textandactions {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.transaction-check-out-card-textandsupportingtext1 {
  gap: 7px;
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-check-out-card-text014 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-textandsupportingtext2 {
  gap: 7px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-check-out-card-text016 {
  color: var(--dl-color-gray-700);
  width: 100px;
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-text018 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: right;
  line-height: 20px;
}
.transaction-check-out-card-textandsupportingtext3 {
  gap: 7px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-check-out-card-text020 {
  color: var(--dl-color-gray-700);
  width: 100px;
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-price {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.transaction-check-out-card-text022 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: right;
  line-height: 20px;
}
.transaction-check-out-card-text024 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: right;
  line-height: 20px;
}
.transaction-check-out-card-actions1 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
}
.transaction-check-out-card-button3 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-text026 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-iconandsupportingtext {
  gap: 12px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-check-out-card-link03 {
  width: 16px;
  height: 16px;
}
.transaction-check-out-card-text028 {
  color: rgba(0, 122, 255, 1);
  width: 100%;
  flex-grow: 1;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: underline;
}
.transaction-check-out-card-card1 {
  gap: 16px;
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-content04 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.transaction-check-out-card-paymentmethodicon1 {
  width: 58px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(242, 243, 246, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-alipay1 {
  top: 14.663798332214355px;
  left: 5px;
  width: 46.666664123535156px;
  height: 11.76668643951416px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.transaction-check-out-card-vector09 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.transaction-check-out-card-vector10 {
  top: 1.5595521926879883px;
  left: 0.863957405090332px;
  width: 11px;
  height: 8px;
  position: absolute;
}
.transaction-check-out-card-vector11 {
  top: 0.7042856216430664px;
  left: 25.33539581298828px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.transaction-check-out-card-vector12 {
  top: 0.9610996246337891px;
  left: 22.361759185791016px;
  width: 2px;
  height: 9px;
  position: absolute;
}
.transaction-check-out-card-vector13 {
  top: 1.2542352676391602px;
  left: 13.862968444824219px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.transaction-check-out-card-vector14 {
  top: 3.2326745986938477px;
  left: 25.47648048400879px;
  width: 2px;
  height: 6px;
  position: absolute;
}
.transaction-check-out-card-vector15 {
  top: 3.2326745986938477px;
  left: 40.427330017089844px;
  width: 6px;
  height: 8px;
  position: absolute;
}
.transaction-check-out-card-vector16 {
  top: 3.103726387023926px;
  left: 28.274852752685547px;
  width: 6px;
  height: 8px;
  position: absolute;
}
.transaction-check-out-card-vector17 {
  top: 3.103726387023926px;
  left: 34.595787048339844px;
  width: 6px;
  height: 7px;
  position: absolute;
}
.transaction-check-out-card-content05 {
  gap: 8px;
  width: 350px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-check-out-card-textandactions1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.transaction-check-out-card-textandsupportingtext4 {
  gap: 7px;
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-check-out-card-text030 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-textandsupportingtext5 {
  gap: 7px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-check-out-card-text032 {
  color: var(--dl-color-gray-700);
  width: 100px;
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-text034 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: right;
  line-height: 20px;
}
.transaction-check-out-card-textandsupportingtext6 {
  gap: 7px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-check-out-card-text036 {
  color: var(--dl-color-gray-700);
  width: 100px;
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-price1 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.transaction-check-out-card-text038 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: right;
  line-height: 20px;
}
.transaction-check-out-card-text040 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: right;
  line-height: 20px;
}
.transaction-check-out-card-actions2 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
}
.transaction-check-out-card-button4 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-text042 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-iconandsupportingtext1 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-check-out-card-link031 {
  width: 16px;
  height: 16px;
}
.transaction-check-out-card-text044 {
  color: rgba(0, 122, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 12px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: underline;
}
.transaction-check-out-card-footer {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-content06 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.transaction-check-out-card-text046 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-text048 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-content07 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.transaction-check-out-card-text050 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-text052 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-divider1 {
  width: 480px;
  height: 1px;
}
.transaction-check-out-card-button5 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-default-background);
}
.transaction-check-out-card-text054 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-divider2 {
  width: 480px;
  height: 1px;
}
.transaction-check-out-card-content08 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.transaction-check-out-card-text056 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-text058 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-payment {
  gap: 24px;
  display: flex;
  padding: 24px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-payment-card {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-content09 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.transaction-check-out-card-header1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.transaction-check-out-card-featuredicon {
  width: 56px;
  height: 56px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(248, 249, 251, 1);
  border-style: solid;
  border-width: 10px;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-gray-100);
}
.transaction-check-out-card-banknote01 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 28px;
  bottom: 0px;
  height: 28px;
  margin: auto;
  position: absolute;
}
.transaction-check-out-card-textandsupportingtext7 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-text060 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 38px;
}
.transaction-check-out-card-text062 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 24px;
}
.transaction-check-out-card-payment-options {
  gap: 20px;
  display: flex;
  padding: 24px 24px 0 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.transaction-check-out-card-checkboxgroupitem {
  width: 226px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-header2 {
  gap: 4px;
  display: flex;
  padding: 16px 20px 16px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  background-color: var(--dl-color-primary-50);
}
.transaction-check-out-card-content10 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.transaction-check-out-card-icon {
  width: 28px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-check-out-card-featuredicon1 {
  top: -2px;
  left: -2px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 250, 230, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.transaction-check-out-card-creditcard02 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 16px;
  bottom: 0px;
  height: 16px;
  margin: auto;
  position: absolute;
}
.transaction-check-out-card-text064 {
  color: var(--dl-color-primary-800);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-frame-checkboxbase {
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-primary-600);
}
.transaction-check-out-card-check {
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.transaction-check-out-card-checkboxgroupitem1 {
  width: 226px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-header3 {
  gap: 4px;
  display: flex;
  padding: 16px 20px 16px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
}
.transaction-check-out-card-content11 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.transaction-check-out-card-icon1 {
  width: 28px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-check-out-card-featuredicon2 {
  top: -2px;
  left: -2px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 250, 230, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.transaction-check-out-card-wallet02 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 16px;
  bottom: 0px;
  height: 16px;
  margin: auto;
  position: absolute;
}
.transaction-check-out-card-text066 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-frame-checkboxbase1 {
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-card2 {
  gap: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-content12 {
  gap: 20px;
  width: 520px;
  display: flex;
  padding: 0 24px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-check-out-card-form {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
.transaction-check-out-card-row {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-check-out-card-inputfield {
  gap: 6px;
  width: 344px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-check-out-card-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-text068 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-input {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-content13 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.transaction-check-out-card-text070 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-inputfield1 {
  gap: 6px;
  width: 112px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-check-out-card-inputwithlabel1 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-text072 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-input1 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-content14 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.transaction-check-out-card-text074 {
  color: rgba(15, 23, 40, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-text075 {
  color: var(--dl-color-gray-900);
}
.transaction-check-out-card-text076 {
  color: var(--dl-color-gray-300);
}
.transaction-check-out-card-row1 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-check-out-card-inputfield2 {
  gap: 6px;
  width: 344px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-check-out-card-inputwithlabel2 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-text078 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-input2 {
  gap: 8px;
  display: flex;
  padding: 10px 14px 10px 10px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-content15 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.transaction-check-out-card-paymentmethodicon2 {
  width: 34px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(242, 243, 246, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-mastercard {
  top: 5.02996826171875px;
  left: 6px;
  width: 22.357952117919922px;
  height: 13.399999618530273px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.transaction-check-out-card-left {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 13px;
  position: absolute;
}
.transaction-check-out-card-right {
  top: 0px;
  left: 11.178970336914062px;
  width: 11px;
  height: 13px;
  position: absolute;
}
.transaction-check-out-card-middle {
  top: 1.6005737781524658px;
  left: 8.796615600585938px;
  width: 5px;
  height: 10px;
  position: absolute;
}
.transaction-check-out-card-text080 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-inputfield3 {
  gap: 6px;
  width: 112px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-check-out-card-inputwithlabel3 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-text082 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-input3 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-content16 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.transaction-check-out-card-text084 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-inputdropdown {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-inputwithlabel4 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-check-out-card-text086 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-check-out-card-input4 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-content17 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.transaction-check-out-card-text088 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.transaction-check-out-card-chevrondown {
  width: 20px;
  height: 20px;
}
.transaction-check-out-card-tablecell {
  gap: 12px;
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.transaction-check-out-card-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-check-out-card-frame-checkboxbase2 {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-text090 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.transaction-check-out-card-text091 {
  font-weight: 600;
}
.transaction-check-out-card-tablecell1 {
  gap: 12px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.transaction-check-out-card-checkbox1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-check-out-card-frame-checkboxbase3 {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-base-white);
}
.transaction-check-out-card-text093 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.transaction-check-out-card-text094 {
  text-decoration: none;
}
.transaction-check-out-card-text095 {
  text-decoration: underline;
}
.transaction-check-out-card-text096 {
  text-decoration: none;
}
.transaction-check-out-card-frame-modalactions {
  width: 100%;
  display: flex;
  padding: 32px 0 0 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-check-out-card-content18 {
  gap: 12px;
  display: flex;
  padding: 0 24px 24px 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-check-out-card-button6 {
  gap: 8px;
  display: flex;
  padding: 10px 18px;
  overflow: hidden;
  flex-grow: 1;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-600);
}
.transaction-check-out-card-text098 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
