.sidebarnavigation-shipment-sidebarnavigationparcel {
  width: 280px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.sidebarnavigation-shipment-nav {
  gap: 24px;
  display: flex;
  padding: 32px 0 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-header {
  display: flex;
  padding: 0 20px 0 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-logo {
  display: flex;
  align-items: flex-start;
}
.sidebarnavigation-shipment-logowrap {
  width: 142px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sidebarnavigation-shipment-logomark {
  top: 0px;
  left: 0px;
  width: 32px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
}
.sidebarnavigation-shipment-frame1 {
  width: 32px;
  height: 32px;
}
.sidebarnavigation-shipment-logotype {
  top: 0px;
  left: 42px;
  width: 100px;
  height: 32px;
  position: absolute;
}
.sidebarnavigation-shipment-search {
  display: none;
  padding: 0 24px;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-inputdropdown {
  gap: 8px;
  width: 231px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sidebarnavigation-shipment-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-input {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content1 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-searchlg {
  width: 20px;
  height: 20px;
}
.sidebarnavigation-shipment-text {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navigation {
  gap: 4px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-navlink {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content2 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-homeline {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text02 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink1 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase1 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.sidebarnavigation-shipment-content3 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-package {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text04 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink2 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase2 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-50);
}
.sidebarnavigation-shipment-content4 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-plane {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text06 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink3 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase3 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content5 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-banknote01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text08 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink4 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase4 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content6 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-users01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text10 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-footer {
  gap: 24px;
  display: flex;
  padding: 0 16px 32px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-navigation1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-navlink5 {
  display: contents;
}
.sidebarnavigation-shipment-frame-navitembase5 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-shipment-content7 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-settings01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-shipment-text12 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-shipment-navlink6 {
  display: contents;
}
.sidebarnavigation-shipment-account {
  gap: 47px;
  display: flex;
  padding: 24px 32px 0 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  text-decoration: none;
}
.sidebarnavigation-shipment-avatarlabelgroup {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-shipment-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 200px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/fc1cfe10-08e5-475a-8902-81b277486d6f-w84b-200h.undefined");
}
.sidebarnavigation-shipment-textandsupportingtext {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-shipment-text14 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.sidebarnavigation-shipment-text16 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.sidebarnavigation-shipment-button {
  gap: 8px;
  display: flex;
  padding: 8px;
  z-index: 1;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.sidebarnavigation-shipment-logout01 {
  width: 20px;
  height: 20px;
}

.transaction-add-new-transaction-alipay-pay-on-behalf-pob-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-contents {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-main {
  gap: 24px;
  flex: 1;
  width: 1150px;
  display: flex;
  padding: 32px 0 48px 0;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-25);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-headersection {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-container1 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-breadcrumbs {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-tabs {
  gap: 8px;
  display: flex;
  align-items: center;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-frame-breadcrumbbuttonbase {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: 6px;
  text-decoration: none;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-homeline {
  width: 20px;
  height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-chevronright {
  width: 16px;
  height: 16px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-frame-breadcrumbbuttonbase1 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  text-decoration: none;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-chevronright1 {
  width: 16px;
  height: 16px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-frame-breadcrumbbuttonbase2 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text02 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-chevronright2 {
  width: 16px;
  height: 16px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-frame-breadcrumbbuttonbase3 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text04 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-actions {
  gap: 12px;
  display: flex;
  align-items: center;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-dropdown {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-download01 {
  width: 20px;
  height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-button {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-searchrefraction {
  width: 20px;
  height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-button1 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-bell01 {
  width: 20px;
  height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-dropdown1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-button2 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 24px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-600);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-plus {
  width: 20px;
  height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-pageheader {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-content {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-textandsupportingtext {
  gap: 4px;
  width: 1096px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text06 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 38px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text08 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-divider {
  width: 1096px;
  height: 1px;
  align-self: stretch;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-section {
  gap: 24px;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-container2 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-sectionheader {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-content01 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-textandsupportingtext1 {
  gap: 4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text10 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text12 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-dropdown2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-dotsvertical {
  width: 20px;
  height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-divider1 {
  width: 1096px;
  height: 1px;
  align-self: stretch;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-content02 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-textandsupportingtext2 {
  width: 280px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text14 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-checkboxgroup {
  gap: 12px;
  width: 784px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-navlink {
  display: contents;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-checkboxgroupitem {
  gap: 4px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-content03 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-featuredicon {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 250, 230, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-coinshand {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 16px;
  bottom: 0px;
  height: 16px;
  margin: auto;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-textandsupportingtext3 {
  width: 684px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-textandsubtext {
  gap: 4px;
  display: flex;
  align-items: flex-start;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text16 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text17 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-frame-checkboxbase {
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-checkboxgroupitem1 {
  gap: 4px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  background-color: var(--dl-color-primary-50);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-content04 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-featuredicon1 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 250, 230, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 28px;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-creditcardplus {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 16px;
  bottom: 0px;
  height: 16px;
  margin: auto;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-textandsupportingtext4 {
  width: 684px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-textandsubtext1 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text18 {
  color: var(--dl-color-primary-800);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text19 {
  color: var(--dl-color-primary-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-frame-checkboxbase1 {
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-primary-600);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-check {
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-section1 {
  gap: 32px;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-container3 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-form {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-content05 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-textandsupportingtext5 {
  width: 280px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text20 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text22 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-form1 {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-content06 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-inline-cta {
  gap: 20px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-gray-25);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-textandsupportingtext6 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text24 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text26 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-card {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-content07 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-paymentmethodicon {
  width: 58px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(242, 243, 246, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-alipay {
  top: 14.663798332214355px;
  left: 5px;
  width: 46.666664123535156px;
  height: 11.76668643951416px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-vector {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-vector1 {
  top: 1.5595521926879883px;
  left: 0.863957405090332px;
  width: 11px;
  height: 8px;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-vector2 {
  top: 0.7042856216430664px;
  left: 25.33539581298828px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-vector3 {
  top: 0.9610996246337891px;
  left: 22.361759185791016px;
  width: 2px;
  height: 9px;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-vector4 {
  top: 1.2542352676391602px;
  left: 13.862968444824219px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-vector5 {
  top: 3.2326745986938477px;
  left: 25.47648048400879px;
  width: 2px;
  height: 6px;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-vector6 {
  top: 3.2326745986938477px;
  left: 40.427330017089844px;
  width: 6px;
  height: 8px;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-vector7 {
  top: 3.103726387023926px;
  left: 28.274852752685547px;
  width: 6px;
  height: 8px;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-vector8 {
  top: 3.103726387023926px;
  left: 34.595787048339844px;
  width: 6px;
  height: 7px;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-content08 {
  gap: 8px;
  width: 582px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-textandactions {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-textandsupportingtext7 {
  width: 508px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text28 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text30 {
  color: var(--dl-color-gray-700);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-actions1 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-button3 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text32 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-iconandsupportingtext {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-mail01 {
  width: 16px;
  height: 16px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text34 {
  color: var(--dl-color-gray-600);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-inputfield {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text36 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-input {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-content09 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text38 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-helpicon {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-helpcircle {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text40 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-inputfield1 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-inputwithlabel1 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text42 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-input1 {
  display: flex;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-textinput {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  border-radius: 8px 0 0 8px;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text44 {
  color: var(--dl-color-gray-900);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-helpicon1 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-helpcircle1 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-button4 {
  gap: 8px;
  height: 100%;
  display: flex;
  padding: 10px 18px;
  overflow: hidden;
  align-self: center;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 8px 8px 0;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-copy01 {
  width: 20px;
  height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text46 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text48 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-inputfield2 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-inputwithlabel2 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text50 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-input2 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-content10 {
  gap: 8px;
  display: flex;
  padding: 8px 0 8px 12px;
  flex-grow: 1;
  align-items: center;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-textinput1 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text52 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text54 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-helpicon2 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-helpcircle2 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-dropdown3 {
  gap: 4px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text56 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-chevrondown {
  width: 20px;
  height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-textareainputfield {
  gap: 6px;
  height: 144px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-inputwithlabel3 {
  gap: 6px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text58 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-input3 {
  gap: 8px;
  color: rgba(102, 112, 132, 1);
  display: flex;
  padding: 12px 14px;
  overflow: hidden;
  flex-grow: 1;
  font-size: 16px;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  text-align: left;
  align-items: flex-start;
  font-family: Open Sans;
  font-weight: 400;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-sectionfooter {
  gap: 16px;
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-direction: column;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-divider2 {
  width: 784px;
  height: 1px;
  align-self: stretch;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-content11 {
  gap: 16px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-actions2 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-button5 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text60 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-button6 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-600);
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-text62 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-add-new-transaction-alipay-pay-on-behalf-pob-divider3 {
  width: auto;
  height: 1px;
  display: none;
  align-self: stretch;
}
