.sidebarnavigation-transaction-sidebarnavigationparcel {
  width: 280px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-transaction-content {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.sidebarnavigation-transaction-nav {
  gap: 24px;
  display: flex;
  padding: 32px 0 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-transaction-header {
  display: flex;
  padding: 0 20px 0 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-transaction-logo {
  display: flex;
  align-items: flex-start;
}
.sidebarnavigation-transaction-logowrap {
  width: 142px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sidebarnavigation-transaction-logomark {
  top: 0px;
  left: 0px;
  width: 32px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
}
.sidebarnavigation-transaction-frame1 {
  width: 32px;
  height: 32px;
}
.sidebarnavigation-transaction-logotype {
  top: 0px;
  left: 42px;
  width: 100px;
  height: 32px;
  position: absolute;
}
.sidebarnavigation-transaction-search {
  display: none;
  padding: 0 24px;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-transaction-inputdropdown {
  gap: 8px;
  width: 231px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sidebarnavigation-transaction-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-transaction-input {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-transaction-content1 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-transaction-searchlg {
  width: 20px;
  height: 20px;
}
.sidebarnavigation-transaction-text {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-transaction-navigation {
  gap: 4px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-transaction-navlink {
  display: contents;
}
.sidebarnavigation-transaction-frame-navitembase {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-transaction-content2 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-transaction-homeline {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-transaction-text02 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-transaction-navlink1 {
  display: contents;
}
.sidebarnavigation-transaction-frame-navitembase1 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.sidebarnavigation-transaction-content3 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-transaction-package {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-transaction-text04 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-transaction-navlink2 {
  display: contents;
}
.sidebarnavigation-transaction-frame-navitembase2 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.sidebarnavigation-transaction-content4 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-transaction-plane {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-transaction-text06 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-transaction-navlink3 {
  display: contents;
}
.sidebarnavigation-transaction-frame-navitembase3 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-gray-50);
}
.sidebarnavigation-transaction-content5 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-transaction-banknote01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-transaction-text08 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-transaction-navlink4 {
  display: contents;
}
.sidebarnavigation-transaction-frame-navitembase4 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-transaction-content6 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-transaction-users01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-transaction-text10 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-transaction-footer {
  gap: 24px;
  display: flex;
  padding: 0 16px 32px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-transaction-navigation1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-transaction-navlink5 {
  display: contents;
}
.sidebarnavigation-transaction-frame-navitembase5 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--dl-color-base-white);
}
.sidebarnavigation-transaction-content7 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-transaction-settings01 {
  width: 24px;
  height: 24px;
}
.sidebarnavigation-transaction-text12 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sidebarnavigation-transaction-navlink6 {
  display: contents;
}
.sidebarnavigation-transaction-account {
  gap: 47px;
  display: flex;
  padding: 24px 32px 0 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  text-decoration: none;
}
.sidebarnavigation-transaction-avatarlabelgroup {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.sidebarnavigation-transaction-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 200px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/fc1cfe10-08e5-475a-8902-81b277486d6f-w84b-200h.undefined");
}
.sidebarnavigation-transaction-textandsupportingtext {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sidebarnavigation-transaction-text14 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.sidebarnavigation-transaction-text16 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.sidebarnavigation-transaction-button {
  gap: 8px;
  display: flex;
  padding: 8px;
  z-index: 1;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.sidebarnavigation-transaction-logout01 {
  width: 20px;
  height: 20px;
}

.transaction-dashboard-alipay-top-up-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.transaction-dashboard-alipay-top-up-contents {
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  background-color: var(--dl-color-base-white);
}
.transaction-dashboard-alipay-top-up-main {
  gap: 24px;
  width: auto;
  height: auto;
  display: flex;
  padding: 32px 0 48px 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-gray-25);
}
.transaction-dashboard-alipay-top-up-headersection {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-container1 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-breadcrumbs {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.transaction-dashboard-alipay-top-up-tabs {
  gap: 8px;
  display: flex;
  align-items: center;
}
.transaction-dashboard-alipay-top-up-frame-breadcrumbbuttonbase {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: 6px;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-homeline {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-chevronright {
  width: 16px;
  height: 16px;
}
.transaction-dashboard-alipay-top-up-frame-breadcrumbbuttonbase1 {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-text {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-actions {
  gap: 12px;
  display: flex;
  align-items: center;
}
.transaction-dashboard-alipay-top-up-dropdown {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-download01 {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-button {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-searchrefraction {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-button01 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-bell01 {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-dropdown1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-button02 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(236, 191, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 24px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-600);
}
.transaction-dashboard-alipay-top-up-plus {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-pageheader {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-content {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.transaction-dashboard-alipay-top-up-textandsupportingtext {
  gap: 4px;
  width: 1096px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-text002 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 38px;
}
.transaction-dashboard-alipay-top-up-text004 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.transaction-dashboard-alipay-top-up-horizontaltabs {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  flex-direction: column;
  border-bottom-width: 1px;
}
.transaction-dashboard-alipay-top-up-tabs1 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.transaction-dashboard-alipay-top-up-frame-tabbuttonbase {
  gap: 8px;
  display: flex;
  padding: 0 4px 10px 4px;
  overflow: hidden;
  align-items: center;
  border-color: rgba(222, 178, 0, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  justify-content: center;
  border-bottom-width: 1px;
}
.transaction-dashboard-alipay-top-up-text006 {
  color: var(--dl-color-primary-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-badge {
  display: flex;
  padding: 2px 8px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-primary-50);
}
.transaction-dashboard-alipay-top-up-text007 {
  color: var(--dl-color-primary-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-frame-tabbuttonbase1 {
  gap: 8px;
  display: flex;
  padding: 1px 4px 11px 4px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-text008 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-section {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-container2 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-table {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.transaction-dashboard-alipay-top-up-content1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-base-white);
}
.transaction-dashboard-alipay-top-up-column {
  width: 219px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-tableheadercell {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-gray-50);
}
.transaction-dashboard-alipay-top-up-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-frame-checkboxbase {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-base-white);
}
.transaction-dashboard-alipay-top-up-tableheader {
  gap: 4px;
  display: flex;
  align-items: center;
}
.transaction-dashboard-alipay-top-up-text009 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-arrowdown {
  width: 16px;
  height: 16px;
}
.transaction-dashboard-alipay-top-up-tablecell {
  gap: 12px;
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-checkbox1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-frame-checkboxbase1 {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-base-white);
}
.transaction-dashboard-alipay-top-up-text011 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell01 {
  gap: 12px;
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-checkbox2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-frame-checkboxbase2 {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-base-white);
}
.transaction-dashboard-alipay-top-up-text013 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell02 {
  gap: 12px;
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-checkbox3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-frame-checkboxbase3 {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-base-white);
}
.transaction-dashboard-alipay-top-up-text015 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell03 {
  gap: 12px;
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-checkbox4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-frame-checkboxbase4 {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-base-white);
}
.transaction-dashboard-alipay-top-up-text017 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell04 {
  gap: 12px;
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-checkbox5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-frame-checkboxbase5 {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-base-white);
}
.transaction-dashboard-alipay-top-up-text019 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell05 {
  gap: 12px;
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-checkbox6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-frame-checkboxbase6 {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-base-white);
}
.transaction-dashboard-alipay-top-up-text021 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell06 {
  gap: 12px;
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-checkbox7 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-frame-checkboxbase7 {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-base-white);
}
.transaction-dashboard-alipay-top-up-text023 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-column1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-tableheadercell1 {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-gray-50);
}
.transaction-dashboard-alipay-top-up-tableheader1 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.transaction-dashboard-alipay-top-up-text025 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell07 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text027 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell08 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text029 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell09 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text031 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell10 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text033 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell11 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text035 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell12 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text037 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell13 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text039 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-column2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-tableheadercell2 {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-gray-50);
}
.transaction-dashboard-alipay-top-up-tableheader2 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.transaction-dashboard-alipay-top-up-text041 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell14 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text043 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell15 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text045 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell16 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text047 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell17 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text049 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell18 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text051 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell19 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text053 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell20 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text055 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-column3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-tableheadercell3 {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-gray-50);
}
.transaction-dashboard-alipay-top-up-tableheader3 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.transaction-dashboard-alipay-top-up-text057 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell21 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text059 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell22 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text061 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell23 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text063 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell24 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text065 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell25 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text067 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell26 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text069 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell27 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text071 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-column4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-tableheadercell4 {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-gray-50);
}
.transaction-dashboard-alipay-top-up-tableheader4 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.transaction-dashboard-alipay-top-up-text073 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell28 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text075 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell29 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text077 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell30 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text079 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell31 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text081 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell32 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text083 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell33 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text085 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell34 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-text087 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-column5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-tableheadercell5 {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-gray-50);
}
.transaction-dashboard-alipay-top-up-tableheader5 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.transaction-dashboard-alipay-top-up-text089 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell35 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-badge01 {
  gap: 4px;
  display: flex;
  padding: 2px 8px 2px 6px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.transaction-dashboard-alipay-top-up-check {
  width: 12px;
  height: 12px;
}
.transaction-dashboard-alipay-top-up-text091 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell36 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-badge02 {
  gap: 4px;
  display: flex;
  padding: 2px 8px 2px 6px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.transaction-dashboard-alipay-top-up-check01 {
  width: 12px;
  height: 12px;
}
.transaction-dashboard-alipay-top-up-text093 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell37 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-badge03 {
  gap: 4px;
  display: flex;
  padding: 2px 8px 2px 6px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.transaction-dashboard-alipay-top-up-check02 {
  width: 12px;
  height: 12px;
}
.transaction-dashboard-alipay-top-up-text095 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell38 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-badge04 {
  gap: 4px;
  display: flex;
  padding: 2px 8px 2px 6px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.transaction-dashboard-alipay-top-up-check03 {
  width: 12px;
  height: 12px;
}
.transaction-dashboard-alipay-top-up-text097 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell39 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-badge05 {
  gap: 4px;
  display: flex;
  padding: 2px 8px 2px 6px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.transaction-dashboard-alipay-top-up-check04 {
  width: 12px;
  height: 12px;
}
.transaction-dashboard-alipay-top-up-text099 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell40 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-badge06 {
  gap: 4px;
  display: flex;
  padding: 2px 8px 2px 6px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.transaction-dashboard-alipay-top-up-check05 {
  width: 12px;
  height: 12px;
}
.transaction-dashboard-alipay-top-up-text101 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell41 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-badge07 {
  gap: 4px;
  display: flex;
  padding: 2px 8px 2px 6px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.transaction-dashboard-alipay-top-up-check06 {
  width: 12px;
  height: 12px;
}
.transaction-dashboard-alipay-top-up-text103 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-column6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-tableheadercell6 {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-gray-50);
}
.transaction-dashboard-alipay-top-up-tableheader6 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.transaction-dashboard-alipay-top-up-text105 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell42 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-badge08 {
  gap: 4px;
  display: flex;
  padding: 2px 8px 2px 6px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.transaction-dashboard-alipay-top-up-check07 {
  width: 12px;
  height: 12px;
}
.transaction-dashboard-alipay-top-up-text107 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell43 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-badge09 {
  gap: 4px;
  display: flex;
  padding: 2px 8px 2px 6px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.transaction-dashboard-alipay-top-up-check08 {
  width: 12px;
  height: 12px;
}
.transaction-dashboard-alipay-top-up-text109 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell44 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-badge10 {
  gap: 4px;
  display: flex;
  padding: 2px 8px 2px 6px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.transaction-dashboard-alipay-top-up-check09 {
  width: 12px;
  height: 12px;
}
.transaction-dashboard-alipay-top-up-text111 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell45 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-badge11 {
  gap: 4px;
  display: flex;
  padding: 2px 8px 2px 6px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.transaction-dashboard-alipay-top-up-check10 {
  width: 12px;
  height: 12px;
}
.transaction-dashboard-alipay-top-up-text113 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell46 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-badge12 {
  gap: 4px;
  display: flex;
  padding: 2px 8px 2px 6px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.transaction-dashboard-alipay-top-up-check11 {
  width: 12px;
  height: 12px;
}
.transaction-dashboard-alipay-top-up-text115 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell47 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-badge13 {
  gap: 4px;
  display: flex;
  padding: 2px 8px 2px 6px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.transaction-dashboard-alipay-top-up-check12 {
  width: 12px;
  height: 12px;
}
.transaction-dashboard-alipay-top-up-text117 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-tablecell48 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-badge14 {
  gap: 4px;
  display: flex;
  padding: 2px 8px 2px 6px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.transaction-dashboard-alipay-top-up-check13 {
  width: 12px;
  height: 12px;
}
.transaction-dashboard-alipay-top-up-text119 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.transaction-dashboard-alipay-top-up-column7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-dashboard-alipay-top-up-tableheadercell7 {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: var(--dl-color-gray-50);
}
.transaction-dashboard-alipay-top-up-tablecell49 {
  gap: 4px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-button03 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-eye {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-button04 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-trash01 {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell50 {
  gap: 4px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-button05 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-eye1 {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-button06 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-trash011 {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell51 {
  gap: 4px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-button07 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-eye2 {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-button08 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-trash012 {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell52 {
  gap: 4px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-button09 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-eye3 {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-button10 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-trash013 {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell53 {
  gap: 4px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-button11 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-eye4 {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-button12 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-trash014 {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-tablecell54 {
  gap: 4px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.transaction-dashboard-alipay-top-up-button13 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-eye5 {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-button14 {
  gap: 8px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.transaction-dashboard-alipay-top-up-trash015 {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-pagination {
  gap: 11px;
  display: flex;
  padding: 12px 24px 16px 24px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  justify-content: space-between;
}
.transaction-dashboard-alipay-top-up-button15 {
  gap: 8px;
  display: flex;
  padding: 8px 14px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.transaction-dashboard-alipay-top-up-arrowleft {
  width: 20px;
  height: 20px;
}
.transaction-dashboard-alipay-top-up-text121 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-paginationnumbers {
  gap: 2px;
  display: flex;
  align-items: flex-start;
}
.transaction-dashboard-alipay-top-up-frame-paginationnumberbase {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: var(--dl-color-gray-50);
}
.transaction-dashboard-alipay-top-up-content2 {
  top: 0px;
  left: 0px;
  width: 40px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-text123 {
  color: var(--dl-color-gray-800);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-frame-paginationnumberbase1 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.transaction-dashboard-alipay-top-up-content3 {
  top: 0px;
  left: 0px;
  width: 40px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-text124 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-frame-paginationnumberbase2 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.transaction-dashboard-alipay-top-up-content4 {
  top: 0px;
  left: 0px;
  width: 40px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-text125 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-frame-paginationnumberbase3 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.transaction-dashboard-alipay-top-up-content5 {
  top: 0px;
  left: 0px;
  width: 40px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-text126 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-frame-paginationnumberbase4 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.transaction-dashboard-alipay-top-up-content6 {
  top: 0px;
  left: 0px;
  width: 40px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-text128 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-frame-paginationnumberbase5 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.transaction-dashboard-alipay-top-up-content7 {
  top: 0px;
  left: 0px;
  width: 40px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-text129 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-frame-paginationnumberbase6 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.transaction-dashboard-alipay-top-up-content8 {
  top: 0px;
  left: 0px;
  width: 40px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.transaction-dashboard-alipay-top-up-text130 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-button16 {
  gap: 8px;
  display: flex;
  padding: 8px 14px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.transaction-dashboard-alipay-top-up-text132 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.transaction-dashboard-alipay-top-up-arrowright {
  width: 20px;
  height: 20px;
}
