<div>
  <link href="./add-button.css" rel="stylesheet" />
  <div class="add-button-container">
    <div data-thq="thq-dropdown" class="add-button-add-button list-item">
      <div data-thq="thq-dropdown-toggle" class="add-button-dropdown-toggle">
        <span class="add-button-text"><span>Menu Item</span></span>
        <button class="add-button-button">
          <img
            alt="plusI5236"
            src="public/external/plusi5236-3n.svg"
            class="add-button-plus"
          />
        </button>
        <div data-thq="thq-dropdown-arrow" class="add-button-dropdown-arrow">
          <svg viewBox="0 0 1024 1024" class="add-button-icon">
            <path d="M426 726v-428l214 214z"></path>
          </svg>
        </div>
      </div>
      <ul data-thq="thq-dropdown-list" class="add-button-dropdown-list">
        <li data-thq="thq-dropdown" class="add-button-dropdown">
          <div
            data-thq="thq-dropdown-toggle"
            class="add-button-dropdown-toggle1"
          >
            <div class="add-button-frame-dropdownlistitem">
              <div class="add-button-content">
                <div class="add-button-iconandtext">
                  <img
                    alt="containerI5266"
                    src="public/external/containeri5266-vlj8.svg"
                    class="add-button-container1"
                  />
                  <span class="add-button-text1 TextsmMedium">
                    <span>Create new parcel</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="add-button-dropdown1 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="add-button-dropdown-toggle2"
          >
            <div class="add-button-frame-dropdownlistitem1">
              <div class="add-button-content1">
                <div class="add-button-iconandtext1">
                  <img
                    alt="helpcircleI5266"
                    src="public/external/helpcirclei5266-ek2.svg"
                    class="add-button-helpcircle"
                  />
                  <span class="add-button-text2 TextsmMedium">
                    <span>Create new Shipment</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="add-button-dropdown2 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="add-button-dropdown-toggle3"
          >
            <div class="add-button-frame-dropdownlistitem2">
              <div class="add-button-content2">
                <div class="add-button-iconandtext2">
                  <img
                    alt="messagesmilecircleI5266"
                    src="public/external/messagesmilecirclei5266-npzp.svg"
                    class="add-button-messagesmilecircle"
                  />
                  <span class="add-button-text3 TextsmMedium">
                    <span>Create new Transaction</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="add-button-dropdown3 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="add-button-dropdown-toggle4"
          >
            <div class="add-button-listitemgroup">
              <div class="add-button-frame-dropdownlistitem3">
                <div class="add-button-content3">
                  <div class="add-button-iconandtext3">
                    <img
                      alt="logout01I5266"
                      src="public/external/logout01i5266-w0rl.svg"
                      class="add-button-logout01"
                    />
                    <span class="add-button-text4 TextsmMedium">
                      <span>Log out</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
