<div>
  <link href="./sidebarnavigation-affiliates.css" rel="stylesheet" />
  <div class="sidebarnavigation-affiliates-sidebarnavigation-affiliates">
    <div class="sidebarnavigation-affiliates-content">
      <div class="sidebarnavigation-affiliates-nav">
        <div class="sidebarnavigation-affiliates-header">
          <div class="sidebarnavigation-affiliates-logo">
            <div class="sidebarnavigation-affiliates-logowrap">
              <div class="sidebarnavigation-affiliates-logomark">
                <img
                  alt="Frame1I5236"
                  src="public/external/frame1i5236-aiyo.svg"
                  class="sidebarnavigation-affiliates-frame1"
                />
              </div>
              <img
                alt="LogotypeI5236"
                src="public/external/logotypei5236-1fz.svg"
                class="sidebarnavigation-affiliates-logotype"
              />
            </div>
          </div>
        </div>
        <div class="sidebarnavigation-affiliates-search">
          <div class="sidebarnavigation-affiliates-inputdropdown">
            <div class="sidebarnavigation-affiliates-inputwithlabel">
              <div class="sidebarnavigation-affiliates-input">
                <div class="sidebarnavigation-affiliates-content1">
                  <img
                    alt="searchlgI5236"
                    src="public/external/searchlgi5236-p0fh.svg"
                    class="sidebarnavigation-affiliates-searchlg"
                  />
                  <span class="sidebarnavigation-affiliates-text TextmdRegular">
                    <span>Search</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebarnavigation-affiliates-navigation">
          <a
            href="home-dashboard-user.html"
            class="sidebarnavigation-affiliates-navlink"
          >
            <div class="sidebarnavigation-affiliates-frame-navitembase">
              <div class="sidebarnavigation-affiliates-content2">
                <img
                  alt="homelineI5236"
                  src="public/external/homelinei5236-pi1s.svg"
                  class="sidebarnavigation-affiliates-homeline"
                />
                <span
                  class="sidebarnavigation-affiliates-text02 TextmdSemibold"
                >
                  <span>Home</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="parcel-dashboard.html"
            class="sidebarnavigation-affiliates-navlink1"
          >
            <div class="sidebarnavigation-affiliates-frame-navitembase1">
              <div class="sidebarnavigation-affiliates-content3">
                <img
                  alt="packageI5236"
                  src="public/external/packagei5236-2yjj.svg"
                  class="sidebarnavigation-affiliates-package"
                />
                <span
                  class="sidebarnavigation-affiliates-text04 TextmdSemibold"
                >
                  <span>Parcel</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="shipment-dashboard.html"
            class="sidebarnavigation-affiliates-navlink2"
          >
            <div class="sidebarnavigation-affiliates-frame-navitembase2">
              <div class="sidebarnavigation-affiliates-content4">
                <img
                  alt="planeI5236"
                  src="public/external/planei5236-zdu.svg"
                  class="sidebarnavigation-affiliates-plane"
                />
                <span
                  class="sidebarnavigation-affiliates-text06 TextmdSemibold"
                >
                  <span>Shipment</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="transaction-dashboard-alipay-top-up.html"
            class="sidebarnavigation-affiliates-navlink3"
          >
            <div class="sidebarnavigation-affiliates-frame-navitembase3">
              <div class="sidebarnavigation-affiliates-content5">
                <img
                  alt="banknote01I5236"
                  src="public/external/banknote01i5236-cpa.svg"
                  class="sidebarnavigation-affiliates-banknote01"
                />
                <span
                  class="sidebarnavigation-affiliates-text08 TextmdSemibold"
                >
                  <span>Transactions</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="affiliates-dashboard.html"
            class="sidebarnavigation-affiliates-navlink4"
          >
            <div class="sidebarnavigation-affiliates-frame-navitembase4">
              <div class="sidebarnavigation-affiliates-content6">
                <img
                  alt="users01I5236"
                  src="public/external/users01i5236-f4q.svg"
                  class="sidebarnavigation-affiliates-users01"
                />
                <span
                  class="sidebarnavigation-affiliates-text10 TextmdSemibold"
                >
                  <span>Affiliates</span>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="sidebarnavigation-affiliates-footer">
        <div class="sidebarnavigation-affiliates-navigation1">
          <a
            href="settings-my-profile.html"
            class="sidebarnavigation-affiliates-navlink5"
          >
            <div class="sidebarnavigation-affiliates-frame-navitembase5">
              <div class="sidebarnavigation-affiliates-content7">
                <img
                  alt="settings01I5236"
                  src="public/external/settings01i5236-dwy.svg"
                  class="sidebarnavigation-affiliates-settings01"
                />
                <span
                  class="sidebarnavigation-affiliates-text12 TextmdSemibold"
                >
                  <span>Settings</span>
                </span>
              </div>
            </div>
          </a>
        </div>
        <a href="index.html" class="sidebarnavigation-affiliates-navlink6">
          <div class="sidebarnavigation-affiliates-account">
            <div class="sidebarnavigation-affiliates-avatarlabelgroup">
              <div class="sidebarnavigation-affiliates-avatar"></div>
              <div class="sidebarnavigation-affiliates-textandsupportingtext">
                <span
                  class="sidebarnavigation-affiliates-text14 TextsmSemibold"
                >
                  <span>Ahmad Mursyid</span>
                </span>
                <span class="sidebarnavigation-affiliates-text16">
                  <span>mursyid@atfal.com</span>
                </span>
              </div>
            </div>
            <button class="sidebarnavigation-affiliates-button">
              <img
                alt="logout01I5236"
                src="public/external/logout01i5236-ixha.svg"
                class="sidebarnavigation-affiliates-logout01"
              />
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
