<div>
  <link href="./sidebarnavigation-settings.css" rel="stylesheet" />
  <div class="sidebarnavigation-settings-sidebarnavigation-settings">
    <div class="sidebarnavigation-settings-content">
      <div class="sidebarnavigation-settings-nav">
        <div class="sidebarnavigation-settings-header">
          <div class="sidebarnavigation-settings-logo">
            <div class="sidebarnavigation-settings-logowrap">
              <div class="sidebarnavigation-settings-logomark">
                <img
                  alt="Frame1I5236"
                  src="public/external/frame1i5236-aiyo.svg"
                  class="sidebarnavigation-settings-frame1"
                />
              </div>
              <img
                alt="LogotypeI5236"
                src="public/external/logotypei5236-1fz.svg"
                class="sidebarnavigation-settings-logotype"
              />
            </div>
          </div>
        </div>
        <div class="sidebarnavigation-settings-search">
          <div class="sidebarnavigation-settings-inputdropdown">
            <div class="sidebarnavigation-settings-inputwithlabel">
              <div class="sidebarnavigation-settings-input">
                <div class="sidebarnavigation-settings-content1">
                  <img
                    alt="searchlgI5236"
                    src="public/external/searchlgi5236-p0fh.svg"
                    class="sidebarnavigation-settings-searchlg"
                  />
                  <span class="sidebarnavigation-settings-text TextmdRegular">
                    <span>Search</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebarnavigation-settings-navigation">
          <a
            href="home-dashboard-user.html"
            class="sidebarnavigation-settings-navlink"
          >
            <div class="sidebarnavigation-settings-frame-navitembase">
              <div class="sidebarnavigation-settings-content2">
                <img
                  alt="homelineI5236"
                  src="public/external/homelinei5236-pi1s.svg"
                  class="sidebarnavigation-settings-homeline"
                />
                <span class="sidebarnavigation-settings-text02 TextmdSemibold">
                  <span>Home</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="parcel-dashboard.html"
            class="sidebarnavigation-settings-navlink1"
          >
            <div class="sidebarnavigation-settings-frame-navitembase1">
              <div class="sidebarnavigation-settings-content3">
                <img
                  alt="packageI5236"
                  src="public/external/packagei5236-2yjj.svg"
                  class="sidebarnavigation-settings-package"
                />
                <span class="sidebarnavigation-settings-text04 TextmdSemibold">
                  <span>Parcel</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="shipment-dashboard.html"
            class="sidebarnavigation-settings-navlink2"
          >
            <div class="sidebarnavigation-settings-frame-navitembase2">
              <div class="sidebarnavigation-settings-content4">
                <img
                  alt="planeI5236"
                  src="public/external/planei5236-zdu.svg"
                  class="sidebarnavigation-settings-plane"
                />
                <span class="sidebarnavigation-settings-text06 TextmdSemibold">
                  <span>Shipment</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="transaction-dashboard-alipay-top-up.html"
            class="sidebarnavigation-settings-navlink3"
          >
            <div class="sidebarnavigation-settings-frame-navitembase3">
              <div class="sidebarnavigation-settings-content5">
                <img
                  alt="banknote01I5236"
                  src="public/external/banknote01i5236-cpa.svg"
                  class="sidebarnavigation-settings-banknote01"
                />
                <span class="sidebarnavigation-settings-text08 TextmdSemibold">
                  <span>Transactions</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="affiliates-dashboard.html"
            class="sidebarnavigation-settings-navlink4"
          >
            <div class="sidebarnavigation-settings-frame-navitembase4">
              <div class="sidebarnavigation-settings-content6">
                <img
                  alt="users01I5236"
                  src="public/external/users01i5236-f4q.svg"
                  class="sidebarnavigation-settings-users01"
                />
                <span class="sidebarnavigation-settings-text10 TextmdSemibold">
                  <span>Affiliates</span>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="sidebarnavigation-settings-footer">
        <div class="sidebarnavigation-settings-navigation1">
          <a
            href="settings-my-profile.html"
            class="sidebarnavigation-settings-navlink5"
          >
            <div class="sidebarnavigation-settings-frame-navitembase5">
              <div class="sidebarnavigation-settings-content7">
                <img
                  alt="settings01I5236"
                  src="public/external/settings01i5236-dwy.svg"
                  class="sidebarnavigation-settings-settings01"
                />
                <span class="sidebarnavigation-settings-text12 TextmdSemibold">
                  <span>Settings</span>
                </span>
              </div>
            </div>
          </a>
        </div>
        <a href="index.html" class="sidebarnavigation-settings-navlink6">
          <div class="sidebarnavigation-settings-account">
            <div class="sidebarnavigation-settings-avatarlabelgroup">
              <div class="sidebarnavigation-settings-avatar"></div>
              <div class="sidebarnavigation-settings-textandsupportingtext">
                <span class="sidebarnavigation-settings-text14 TextsmSemibold">
                  <span>Ahmad Mursyid</span>
                </span>
                <span class="sidebarnavigation-settings-text16">
                  <span>mursyid@atfal.com</span>
                </span>
              </div>
            </div>
            <button class="sidebarnavigation-settings-button">
              <img
                alt="logout01I5236"
                src="public/external/logout01i5236-ixha.svg"
                class="sidebarnavigation-settings-logout01"
              />
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
