<div>
  <link href="./sidebarnavigation-shipment.css" rel="stylesheet" />
  <div class="sidebarnavigation-shipment-sidebarnavigationparcel">
    <div class="sidebarnavigation-shipment-content">
      <div class="sidebarnavigation-shipment-nav">
        <div class="sidebarnavigation-shipment-header">
          <div class="sidebarnavigation-shipment-logo">
            <div class="sidebarnavigation-shipment-logowrap">
              <div class="sidebarnavigation-shipment-logomark">
                <img
                  alt="Frame1I5236"
                  src="public/external/frame1i5236-aiyo.svg"
                  class="sidebarnavigation-shipment-frame1"
                />
              </div>
              <img
                alt="LogotypeI5236"
                src="public/external/logotypei5236-1fz.svg"
                class="sidebarnavigation-shipment-logotype"
              />
            </div>
          </div>
        </div>
        <div class="sidebarnavigation-shipment-search">
          <div class="sidebarnavigation-shipment-inputdropdown">
            <div class="sidebarnavigation-shipment-inputwithlabel">
              <div class="sidebarnavigation-shipment-input">
                <div class="sidebarnavigation-shipment-content1">
                  <img
                    alt="searchlgI5236"
                    src="public/external/searchlgi5236-p0fh.svg"
                    class="sidebarnavigation-shipment-searchlg"
                  />
                  <span class="sidebarnavigation-shipment-text TextmdRegular">
                    <span>Search</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebarnavigation-shipment-navigation">
          <a
            href="home-dashboard-user.html"
            class="sidebarnavigation-shipment-navlink"
          >
            <div class="sidebarnavigation-shipment-frame-navitembase">
              <div class="sidebarnavigation-shipment-content2">
                <img
                  alt="homelineI5236"
                  src="public/external/homelinei5236-pi1s.svg"
                  class="sidebarnavigation-shipment-homeline"
                />
                <span class="sidebarnavigation-shipment-text02 TextmdSemibold">
                  <span>Home</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="parcel-dashboard.html"
            class="sidebarnavigation-shipment-navlink1"
          >
            <div class="sidebarnavigation-shipment-frame-navitembase1">
              <div class="sidebarnavigation-shipment-content3">
                <img
                  alt="packageI5236"
                  src="public/external/packagei5236-2yjj.svg"
                  class="sidebarnavigation-shipment-package"
                />
                <span class="sidebarnavigation-shipment-text04 TextmdSemibold">
                  <span>Parcel</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="shipment-dashboard.html"
            class="sidebarnavigation-shipment-navlink2"
          >
            <div class="sidebarnavigation-shipment-frame-navitembase2">
              <div class="sidebarnavigation-shipment-content4">
                <img
                  alt="planeI5236"
                  src="public/external/planei5236-zdu.svg"
                  class="sidebarnavigation-shipment-plane"
                />
                <span class="sidebarnavigation-shipment-text06 TextmdSemibold">
                  <span>Shipment</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="transaction-dashboard-alipay-top-up.html"
            class="sidebarnavigation-shipment-navlink3"
          >
            <div class="sidebarnavigation-shipment-frame-navitembase3">
              <div class="sidebarnavigation-shipment-content5">
                <img
                  alt="banknote01I5236"
                  src="public/external/banknote01i5236-cpa.svg"
                  class="sidebarnavigation-shipment-banknote01"
                />
                <span class="sidebarnavigation-shipment-text08 TextmdSemibold">
                  <span>Transactions</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="affiliates-dashboard.html"
            class="sidebarnavigation-shipment-navlink4"
          >
            <div class="sidebarnavigation-shipment-frame-navitembase4">
              <div class="sidebarnavigation-shipment-content6">
                <img
                  alt="users01I5236"
                  src="public/external/users01i5236-f4q.svg"
                  class="sidebarnavigation-shipment-users01"
                />
                <span class="sidebarnavigation-shipment-text10 TextmdSemibold">
                  <span>Affiliates</span>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="sidebarnavigation-shipment-footer">
        <div class="sidebarnavigation-shipment-navigation1">
          <a
            href="settings-my-profile.html"
            class="sidebarnavigation-shipment-navlink5"
          >
            <div class="sidebarnavigation-shipment-frame-navitembase5">
              <div class="sidebarnavigation-shipment-content7">
                <img
                  alt="settings01I5236"
                  src="public/external/settings01i5236-dwy.svg"
                  class="sidebarnavigation-shipment-settings01"
                />
                <span class="sidebarnavigation-shipment-text12 TextmdSemibold">
                  <span>Settings</span>
                </span>
              </div>
            </div>
          </a>
        </div>
        <a href="index.html" class="sidebarnavigation-shipment-navlink6">
          <div class="sidebarnavigation-shipment-account">
            <div class="sidebarnavigation-shipment-avatarlabelgroup">
              <div class="sidebarnavigation-shipment-avatar"></div>
              <div class="sidebarnavigation-shipment-textandsupportingtext">
                <span class="sidebarnavigation-shipment-text14 TextsmSemibold">
                  <span>Ahmad Mursyid</span>
                </span>
                <span class="sidebarnavigation-shipment-text16">
                  <span>mursyid@atfal.com</span>
                </span>
              </div>
            </div>
            <button class="sidebarnavigation-shipment-button">
              <img
                alt="logout01I5236"
                src="public/external/logout01i5236-ixha.svg"
                class="sidebarnavigation-shipment-logout01"
              />
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
