<div>
  <link href="./sidebarnavigation-transaction.css" rel="stylesheet" />
  <div class="sidebarnavigation-transaction-sidebarnavigationparcel">
    <div class="sidebarnavigation-transaction-content">
      <div class="sidebarnavigation-transaction-nav">
        <div class="sidebarnavigation-transaction-header">
          <div class="sidebarnavigation-transaction-logo">
            <div class="sidebarnavigation-transaction-logowrap">
              <div class="sidebarnavigation-transaction-logomark">
                <img
                  alt="Frame1I5236"
                  src="public/external/frame1i5236-aiyo.svg"
                  class="sidebarnavigation-transaction-frame1"
                />
              </div>
              <img
                alt="LogotypeI5236"
                src="public/external/logotypei5236-1fz.svg"
                class="sidebarnavigation-transaction-logotype"
              />
            </div>
          </div>
        </div>
        <div class="sidebarnavigation-transaction-search">
          <div class="sidebarnavigation-transaction-inputdropdown">
            <div class="sidebarnavigation-transaction-inputwithlabel">
              <div class="sidebarnavigation-transaction-input">
                <div class="sidebarnavigation-transaction-content1">
                  <img
                    alt="searchlgI5236"
                    src="public/external/searchlgi5236-p0fh.svg"
                    class="sidebarnavigation-transaction-searchlg"
                  />
                  <span
                    class="sidebarnavigation-transaction-text TextmdRegular"
                  >
                    <span>Search</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebarnavigation-transaction-navigation">
          <a
            href="home-dashboard-user.html"
            class="sidebarnavigation-transaction-navlink"
          >
            <div class="sidebarnavigation-transaction-frame-navitembase">
              <div class="sidebarnavigation-transaction-content2">
                <img
                  alt="homelineI5236"
                  src="public/external/homelinei5236-pi1s.svg"
                  class="sidebarnavigation-transaction-homeline"
                />
                <span
                  class="sidebarnavigation-transaction-text02 TextmdSemibold"
                >
                  <span>Home</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="parcel-dashboard.html"
            class="sidebarnavigation-transaction-navlink1"
          >
            <div class="sidebarnavigation-transaction-frame-navitembase1">
              <div class="sidebarnavigation-transaction-content3">
                <img
                  alt="packageI5236"
                  src="public/external/packagei5236-2yjj.svg"
                  class="sidebarnavigation-transaction-package"
                />
                <span
                  class="sidebarnavigation-transaction-text04 TextmdSemibold"
                >
                  <span>Parcel</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="shipment-dashboard.html"
            class="sidebarnavigation-transaction-navlink2"
          >
            <div class="sidebarnavigation-transaction-frame-navitembase2">
              <div class="sidebarnavigation-transaction-content4">
                <img
                  alt="planeI5236"
                  src="public/external/planei5236-zdu.svg"
                  class="sidebarnavigation-transaction-plane"
                />
                <span
                  class="sidebarnavigation-transaction-text06 TextmdSemibold"
                >
                  <span>Shipment</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="transaction-dashboard-alipay-top-up.html"
            class="sidebarnavigation-transaction-navlink3"
          >
            <div class="sidebarnavigation-transaction-frame-navitembase3">
              <div class="sidebarnavigation-transaction-content5">
                <img
                  alt="banknote01I5236"
                  src="public/external/banknote01i5236-cpa.svg"
                  class="sidebarnavigation-transaction-banknote01"
                />
                <span
                  class="sidebarnavigation-transaction-text08 TextmdSemibold"
                >
                  <span>Transactions</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="affiliates-dashboard.html"
            class="sidebarnavigation-transaction-navlink4"
          >
            <div class="sidebarnavigation-transaction-frame-navitembase4">
              <div class="sidebarnavigation-transaction-content6">
                <img
                  alt="users01I5236"
                  src="public/external/users01i5236-f4q.svg"
                  class="sidebarnavigation-transaction-users01"
                />
                <span
                  class="sidebarnavigation-transaction-text10 TextmdSemibold"
                >
                  <span>Affiliates</span>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="sidebarnavigation-transaction-footer">
        <div class="sidebarnavigation-transaction-navigation1">
          <a
            href="settings-my-profile.html"
            class="sidebarnavigation-transaction-navlink5"
          >
            <div class="sidebarnavigation-transaction-frame-navitembase5">
              <div class="sidebarnavigation-transaction-content7">
                <img
                  alt="settings01I5236"
                  src="public/external/settings01i5236-dwy.svg"
                  class="sidebarnavigation-transaction-settings01"
                />
                <span
                  class="sidebarnavigation-transaction-text12 TextmdSemibold"
                >
                  <span>Settings</span>
                </span>
              </div>
            </div>
          </a>
        </div>
        <a href="index.html" class="sidebarnavigation-transaction-navlink6">
          <div class="sidebarnavigation-transaction-account">
            <div class="sidebarnavigation-transaction-avatarlabelgroup">
              <div class="sidebarnavigation-transaction-avatar"></div>
              <div class="sidebarnavigation-transaction-textandsupportingtext">
                <span
                  class="sidebarnavigation-transaction-text14 TextsmSemibold"
                >
                  <span>Ahmad Mursyid</span>
                </span>
                <span class="sidebarnavigation-transaction-text16">
                  <span>mursyid@atfal.com</span>
                </span>
              </div>
            </div>
            <button class="sidebarnavigation-transaction-button">
              <img
                alt="logout01I5236"
                src="public/external/logout01i5236-ixha.svg"
                class="sidebarnavigation-transaction-logout01"
              />
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
