<div>
  <link href="./sidebarnavigationparcel.css" rel="stylesheet" />
  <div class="sidebarnavigationparcel-sidebarnavigationparcel">
    <div class="sidebarnavigationparcel-content">
      <div class="sidebarnavigationparcel-nav">
        <div class="sidebarnavigationparcel-header">
          <div class="sidebarnavigationparcel-logo">
            <div class="sidebarnavigationparcel-logowrap">
              <div class="sidebarnavigationparcel-logomark">
                <img
                  alt="Frame1I5236"
                  src="public/external/frame1i5236-aiyo.svg"
                  class="sidebarnavigationparcel-frame1"
                />
              </div>
              <img
                alt="LogotypeI5236"
                src="public/external/logotypei5236-1fz.svg"
                class="sidebarnavigationparcel-logotype"
              />
            </div>
          </div>
        </div>
        <div class="sidebarnavigationparcel-search">
          <div class="sidebarnavigationparcel-inputdropdown">
            <div class="sidebarnavigationparcel-inputwithlabel">
              <div class="sidebarnavigationparcel-input">
                <div class="sidebarnavigationparcel-content1">
                  <img
                    alt="searchlgI5236"
                    src="public/external/searchlgi5236-p0fh.svg"
                    class="sidebarnavigationparcel-searchlg"
                  />
                  <span class="sidebarnavigationparcel-text TextmdRegular">
                    <span>Search</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebarnavigationparcel-navigation">
          <a
            href="home-dashboard-user.html"
            class="sidebarnavigationparcel-navlink"
          >
            <div class="sidebarnavigationparcel-frame-navitembase">
              <div class="sidebarnavigationparcel-content2">
                <img
                  alt="homelineI5236"
                  src="public/external/homelinei5236-pi1s.svg"
                  class="sidebarnavigationparcel-homeline"
                />
                <span class="sidebarnavigationparcel-text02 TextmdSemibold">
                  <span>Home</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="parcel-dashboard.html"
            class="sidebarnavigationparcel-navlink1"
          >
            <div class="sidebarnavigationparcel-frame-navitembase1">
              <div class="sidebarnavigationparcel-content3">
                <img
                  alt="packageI5236"
                  src="public/external/packagei5236-2yjj.svg"
                  class="sidebarnavigationparcel-package"
                />
                <span class="sidebarnavigationparcel-text04 TextmdSemibold">
                  <span>Parcel</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="shipment-dashboard.html"
            class="sidebarnavigationparcel-navlink2"
          >
            <div class="sidebarnavigationparcel-frame-navitembase2">
              <div class="sidebarnavigationparcel-content4">
                <img
                  alt="planeI5236"
                  src="public/external/planei5236-zdu.svg"
                  class="sidebarnavigationparcel-plane"
                />
                <span class="sidebarnavigationparcel-text06 TextmdSemibold">
                  <span>Shipment</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="transaction-dashboard-alipay-top-up.html"
            class="sidebarnavigationparcel-navlink3"
          >
            <div class="sidebarnavigationparcel-frame-navitembase3">
              <div class="sidebarnavigationparcel-content5">
                <img
                  alt="banknote01I5236"
                  src="public/external/banknote01i5236-cpa.svg"
                  class="sidebarnavigationparcel-banknote01"
                />
                <span class="sidebarnavigationparcel-text08 TextmdSemibold">
                  <span>Transactions</span>
                </span>
              </div>
            </div>
          </a>
          <a
            href="affiliates-dashboard.html"
            class="sidebarnavigationparcel-navlink4"
          >
            <div class="sidebarnavigationparcel-frame-navitembase4">
              <div class="sidebarnavigationparcel-content6">
                <img
                  alt="users01I5236"
                  src="public/external/users01i5236-f4q.svg"
                  class="sidebarnavigationparcel-users01"
                />
                <span class="sidebarnavigationparcel-text10 TextmdSemibold">
                  <span>Affiliates</span>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="sidebarnavigationparcel-footer">
        <div class="sidebarnavigationparcel-navigation1">
          <a
            href="settings-my-profile.html"
            class="sidebarnavigationparcel-navlink5"
          >
            <div class="sidebarnavigationparcel-frame-navitembase5">
              <div class="sidebarnavigationparcel-content7">
                <img
                  alt="settings01I5236"
                  src="public/external/settings01i5236-dwy.svg"
                  class="sidebarnavigationparcel-settings01"
                />
                <span class="sidebarnavigationparcel-text12 TextmdSemibold">
                  <span>Settings</span>
                </span>
              </div>
            </div>
          </a>
        </div>
        <a href="index.html" class="sidebarnavigationparcel-navlink6">
          <div class="sidebarnavigationparcel-account">
            <div class="sidebarnavigationparcel-avatarlabelgroup">
              <div class="sidebarnavigationparcel-avatar"></div>
              <div class="sidebarnavigationparcel-textandsupportingtext">
                <span class="sidebarnavigationparcel-text14 TextsmSemibold">
                  <span>Ahmad Mursyid</span>
                </span>
                <span class="sidebarnavigationparcel-text16">
                  <span>mursyid@atfal.com</span>
                </span>
              </div>
            </div>
            <button class="sidebarnavigationparcel-button">
              <img
                alt="logout01I5236"
                src="public/external/logout01i5236-ixha.svg"
                class="sidebarnavigationparcel-logout01"
              />
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
